[2014-08-21 11:14] areski opened #5 "Documentation Installation"
Documentation refer to installing
https://django-registration.readthedocs.org/en/latest/quickstart.html

Using pip, type:

[code]

This is the original ubernostrum/django-registration, so this could be very confusing.

What about renaming your package? django-registration-ng or django-registration-macropin ?

[2014-08-24 16:37] irr1449 opened #6 "Test app doesn't work"
In urls.py it tries to do

from registration.views import LoginView

There is no LoginView.

[2014-09-06 01:02] #6 closed, assigned to nobody

[2014-09-07 23:03] miki725 opened #8 "Pass request down to send_activation_email"
When generating activation emails, currently template context data does not include view's `request`. Passing that along from the view to model should not have any negative side-effects however will allow for more flexibility such as using `{{ request.get_host }}` to generate site URLs vs using `{{ site }}`.

Let me know if I should submit PR with this.

[2014-09-08 19:38] erikcw opened #10 "Django 1.7 compatible release on PyPi?"
Is there a planned release with Django 1.7 support that will be going live on PyPi?

[2014-09-08 23:49] #10 closed, assigned to nobody

[2014-09-17 09:52] #8 closed, assigned to nobody

[2014-09-17 13:38] macropin opened #11 "Templates are not installed"
I believe that we should ship and install a base set of templates that at least provide a starting point.

Currently the templates included here are not installed by default. Modification to `setup.py` is required.

Previously the following was given as the reason for not shipping templates.

**Does |project| come with any sample templates I can use right away?**
    Yes, for two reasons:

    1.

[2014-09-20 10:23] #5 closed, assigned to nobody

[2014-09-25 18:36] guanxun opened #12 "“simple” (one-step) backend redirects not redirecting"
Turning on the one-step backend as described [here](https://django-registration-redux.readthedocs.org/en/latest/simple-backend.html) does not redirect the user to get_absolute_url() after registration, instead to the usual /accounts/register/complete/.

[2014-10-12 21:15] pullyl opened #13 "/accounts/register redirects to /accounts/login"
I downloaded the latest version, and configured as in the instructions:

urls.py, added:
url(r'^accounts/', include('registration.backends.simple.urls')),

settings.py, added:
registration to INSTALLED_APPS
REGISTRATION_OPEN = True

However, whenever I navigate to mysite.com/accounts/register it redirects to mysite.com/accounts/login

Is anyone else seeing this?  Is there something we need to chan

[2014-10-12 21:16] #13 closed, assigned to nobody

[2014-10-23 09:05] VDenis opened #14 "Custom user"
How provide a custom user, with addition fields (age or date born, id). Previous i use this model:
class People(models.Model):
    user = models.OneToOneField(User)l
    born = models.DateField() # born date

class Professor(People): # Ingeritance
    identification_card = models.CharField(max_length=75)
    department = models.CharField(max_length=75)

    def __unicode__(self):
        return "P

[2014-11-12 16:32] puterleat opened #17 "document use of DEFAULT_FROM_EMAIL"
This is a small thing, but it would be nice to document the use of DEFAULT_FROM_EMAIL and/or allow this to be set differently from the standard django setting. Perhaps REGISTRATION_DEFAULT_FROM_EMAIL which is set to DEFAULT_FROM_EMAIL by default (!)

[2014-12-05 00:55] dicato opened #18 "Feature suggestion: Extendable Registration Profiles"
While writing a custom backend for django-registration, I've had the requirement to extend the provided `RegistrationProfile` with additional fields to request from a user. For example, maybe you require knowing the user's `company` or `location`.

After a couple days of working, I have a very custom solution that works for my django project. It required:

* subclass `registration.models.Registrat

[2015-01-02 12:18] elnappo opened #21 "redirect if user is logged in"
It would be nice if a logged in user who visits the registration views gets redirected to the site root or maybe a configurable site.

[2015-01-12 17:34] theneel commented on #18
I am trying to figure out that, have you reached a proper solution?

[2015-01-12 23:52] macropin commented on #18
Have you considered a [custom user model](https://docs.djangoproject.com/en/1.7/topics/auth/customizing/#specifying-a-custom-user-model) for the additional fields? This is one way, alternatively a account model with a 1:1 on the user can be used. I don't think extending the `RegistrationProfile` is the right approach. What is the benefit?

Cheers, Andrew

[2015-01-13 00:54] Locker537 commented on #18
@macropin,
Thanks for the suggestion. For my use case, I avoided a customer user model for the exact reason described in the documentation. It's usually more practical as you suggested to have a model, call it `UserProfile`, with a foreign key or one-to-one relation back to `User`.

I actually have a similar setup, but a `GroupProfile` model with a one-to-one relationship to `Group`. `GroupProfile

[2015-01-19 19:11] dpoirier opened #22 "Assumption that user models have 'username' field"
There's a built-in assumption that all user models have a field named `username` .  If django-registration-redux instead looked at `get_user_model().USERNAME_FIELD`, it would handle custom user models better, I think.

[2015-01-20 20:56] michellemark commented on #22
I agree, I am now trying to figure out how the author intended for a custom user with email as the USERNAME_FIELD to work.  If it can be done this is not obvious, and I could use an example.

[2015-01-20 21:08] dpoirier commented on #22
I looked at it a little more yesterday and concluded it probably wasn't that simple.

[2015-01-20 21:17] michellemark commented on #22
I think this might be the reason I switch... you might want to check out django-user-accounts https://django-user-accounts.readthedocs.org/en/latest/

[2015-01-20 22:44] michellemark commented on #22
Or I just found this beautifully simple option as well https://github.com/mfogel/django-simple-email-confirmation

[2015-01-21 05:31] macropin commented on #22
@dpoirier happy to accept a patch here. Looks like an omission as the support for custom user models is new and not well tested.

[2015-01-21 05:45] macropin commented on #14
Assumptive closure.

[2015-01-21 05:45] #14 closed

[2015-01-21 05:46] macropin commented on #17
Could you please make the relevant changes to the documentation and submit a pull request.

[2015-01-28 23:46] pahaz commented on #22
https://docs.djangoproject.com/en/1.7/topics/auth/customizing/#specifying-a-custom-user-model

[2015-02-03 12:41] sircco opened #26 "not being able to define per site email address"
Since it is already possible to use site for email notifications it would be great if it could be possible
to override settings.DEFAULT_FROM_ADDRESS  from function

[2015-02-05 13:02] atleta opened #27 "Can't specify RegistrationForm (form_class) to be used by the default backend"
It seems that there is no way to set the form_class for backends.default.RegsitrationView . The documentation says something about providing a keyword argument to 'registration()' (sic), but it seems to have been left there from an earlier version. At least I can't interpret it.

Also, I have looked through the code and can't see any sign of using anything but using the wired in form_class (specif

[2015-02-05 13:57] atleta opened #28 "Pass cleaned form data to user_registered signal handler"
If we use a custom form with backends.default.RegisterView (which should be possible according to the documentation, but can't actually be done as of now), cleaned form data should be passed to the signal handler to allow processing of extra fields.

I'm trying to upgrade from 0.8.0 where custom form (specifying it and handling its extra fields) could be handled by overriding the backend class. No

[2015-02-08 07:30] LennyLip commented on #18
I think RegistrationForm must be ModelForm of the UserModel() with fields-dependent behavior... May be with several basic customizable fields, e.g. using Django setting.USERNAME_FIELD insted of UserModel().username, etc..
But it is big work for future.

[2015-02-19 08:27] LennyLip opened #29 "Templates blocktrans refactoring"
Blocktrans in templates
https://github.com/macropin/django-registration/tree/master/registration/templates/registration
does not support dict, list, etc. So this record

[code]

in blocktrans is wrong and does not work.

it must be something like that

[code]

[2015-02-20 11:02] feroda opened #30 "el translation trivial fix"
Hello, using django-rosetta app to let users able to translate my own project,
I found this "bug" in your locale .po file for the "el" language.

~/.virtualenvs/gf-dj17/lib/python2.7/site-packages/registration/locale/el/LC_MESSAGES/django.po
LINE 68
"Η εγγραφή μέσω δωρεάν διευθύνσεων ηλεκτρονικού ταχυδρομείου απαγορεύεται. ""Παρακαλώ δώστε κάποια άλλη."

I don't know el language but I think that l

[2015-02-21 13:37] rollokb commented on #22
What exactly would be so hard about using the `USERNAME_FIELD` instead of `username`?

[2015-02-26 19:26] ShaunGuarini opened #32 "Adding registration form on multipe pages"
I want to add the registration form to my home page but also have it on the normal accounts/register. I couldn't find anything online, any help or direction appreciated.

[2015-03-09 12:51] Gaurav-t opened #33 "python3 support"
Is django-registration works with python3?

[2015-03-09 12:57] chhantyal commented on #33
It does, see https://github.com/macropin/django-registration/blob/master/setup.py

[2015-03-09 21:52] macropin commented on #33
Yes, Python 3 is supported. If you find an issue with Python 3, then please submit a bug report.

[2015-03-09 21:52] #33 closed

[2015-03-10 20:40] jackmullen2 opened #34 "base.html"
demo form registration_base_.html  extends base.html .. which does not exist ..  Is that an oversight or something expected to be written by user ?

[2015-03-11 23:53] jeroenpeters1986 commented on #34
Confirmed, I have the same thing. Also looked at the docs, but those hold no solutions

[2015-03-12 00:11] macropin commented on #29
Please submit a patch.

[2015-03-12 00:12] macropin commented on #34
This is one of the issues of bundling templates with the project... assumptions need to be made. I think it's fairly common for projects to have a _base.html_ from which all other templates inherit. The PyPi package does not bundle the templates. They are only available here as a convenience #11.

I would like to see them included in the future provided that the documentation is updated, and issue

[2015-03-12 00:13] macropin commented on #30
Can you please submit this as a pull request. Thanks

[2015-03-12 00:29] jeroenpeters1986 commented on #34
Hi macropin, you are right! Now I know that base.HTML isn't a missing file in this repo but an assumption in a users project, I also recommend just to clarify the documentation (or a comment in registration_base.HTML) and leave it at that.
Sorry for taking up tour time and thank you for answering.

[2015-03-14 07:52] LennyLip commented on #21
Here is good decorator for logout_requered http://stackoverflow.com/a/5797020/1271271

[2015-03-14 08:16] LennyLip commented on #32
This is not django-registration issue, i think you should use StackOverflow for such question.
In all, if you want registration form on a home page, you must send registrationFrom object to the template.

see RegistrationView in a registration\views.py

yoo'll see RegistrationForm there.
1. you must create empty form like a "registraionForm = new RegistrationForm()"
2 . and return it in a home vie

[2015-03-24 09:12] BlueMonday opened #37 "New Release?"
I was wondering if we could get a new release (1.2)?

[2015-03-26 03:00] #30 closed

[2015-03-26 03:04] #29 closed

[2015-03-26 03:06] macropin commented on #27
I suspect we need the docs updated here. I'll mark this as a bug

[2015-03-26 03:07] macropin commented on #32
Please try a site such as StackOverflow

[2015-03-26 03:07] #32 closed

[2015-03-26 03:09] macropin commented on #37
Agreed, but unfortunately I have no time to QA a release. Are you up for the task? I think we need a decision on #11 / #34. And there are a few other open issues regarding documentation (bugs), so the docs require a going over and update where required.

[2015-03-26 15:22] derek-adair commented on #11
I think this should ABSO-FREAKING-LUTELY come with a basic set of templates.  I was pretty shocked it didn't come with a basic working template which would at least represent the most common use cases.

There should at *least* be a bare bones working template so when someone installs the plugin they dont get a freaking error.  Ideally, *all* of the different use cases would have a template and use

[2015-03-26 15:22] derek-adair commented on #11
I'm willing to submit a PR with a bare bones template as well.

[2015-03-26 15:26] derek-adair commented on #34
change it to registration_base.html and call it a day.  Again, as per my comments in #11, its about usability.  Its about lowering the barrier for entry in this plugin.  I work very well with working examples and often find I read instructions wrong.

Easily the biggest barrier of entry for me was installing this plugin and thinking, 'wtf, it doesn't just... work?'

This plugin should just... work

[2015-03-28 21:11] Zopieux opened #39 "Unnecessary mess with class-based view prototypes"
The [current views.py](https://github.com/macropin/django-registration/blob/62e115cf4ee21c49eb0097060839be55f48b0ba8/registration/views.py#L26) overrides many methods from Django `View` to "*pass the HTTP request nearly everywhere, to enable finer-grained processing*". Thing is, `request` is already available everywhere using `self.request`. As a result, when subclassing `RegisterView`, we have to

[2015-04-16 11:32] FudunTian opened #41 "How to rewrite the django-registration"
The django-registration is perfect, but it not flexible enough. I want to add some function or warning messages to it. Like "Your username and/or password were incorrect!".What part I should change?

[2015-04-17 14:57] derek-adair commented on #41
This doesn't have to do with django-registration.  You want to look at [django form validaiton](https://docs.djangoproject.com/en/1.8/ref/forms/validation/)

[2015-04-17 19:42] h-2-0 opened #43 "How do I edit a file inside the egg file? (translating urls names)"
Hello!

I'm in the process of translating url names, templates, etc..and I'd like to know if it would be a good idea to modify the urls.py and auth_urls.py  files residing inside the egg (I've installed django-registration-redux using 'sudo pip install...')?

/usr/local/lib/python3.2/dist-packages/django_registration_redux-1.2-py3.2.egg

Or what about unzipping the egg, modify files, then rezippit

[2015-04-18 10:53] chhantyal commented on #43
If you just want to override urls, then just do it in your project urls.py file and put that before django-registration's urls.

[2015-04-18 13:44] h-2-0 commented on #43
Thanks, chhantyal!

I added extra urlpatterns within my root urls.py. One stemming from auth_urls.py and the other on from django.backends.default.urls. Now my root url.py is a huge mess but I guess that's better than nothing!

In any case, why on earth, django-registration-redux is installed as an egg file? Why not as a folder? !It's so annoying for a newbie like me! It took me hours to trial and

[2015-04-18 14:07] chhantyal commented on #43
Why is it mess?
It should look like
[code]

Any python package is installed like that. It's simply way of distribution python library, just like RPM or deb. Anyway, that's not at all related to this package and you can read on internet to understand about them.

Please close this issue and only discuss things that are related to this package.

[2015-04-19 16:48] h-2-0 commented on #43
Hi, chhantyal!

Thanks again for replying.

The reason I started this thread is because I wanted to translate url paths from this file:
    `r'^cuenta/', include('registration.backends.default.urls')),`
...which resides in an egg zip file.

Since I couldn't I ended solving adding this to my root urls.py:
`registration_urlpatterns = patterns('',url(r'^activacion/completa/$',TemplateView.as_view(tem

[2015-04-19 16:48] #43 closed

[2015-04-19 17:39] derek-adair commented on #43
FYI its never a good idea to... EVER modify a file in an egg.  It defies the point of a distribution.  you need to look into [pypi.org](https://pypi.python.org/pypi) and how to package your code.  Also the django tutorial is very thurough at explaining [reusable code](https://docs.djangoproject.com/en/1.8/intro/reusable-apps/) (which is a concept that you should find useful)

[2015-04-19 23:52] macropin commented on #41
This isn't the right place for support requests, please think about using a site such as [Stack Overflow](http://stackoverflow.com/) or [Django Users](https://groups.google.com/forum/#!forum/django-users) for support related questions.

[2015-04-19 23:52] #41 closed

[2015-04-20 00:01] macropin commented on #39
That's some code from James' original refactor for Django 1.5. As long as it doesn't break the tests, and backwards compatibility I'm happy to accept a PR. From a cursory glance, it looks like it might just be one of those "designed in isolation type" type things that you sometimes find. I find them from time to time in my old code. Usually written on a day when I ran out of coffee. :)

[2015-04-20 00:08] macropin commented on #34
Yeap, I'll go with that. Let's call it `registration_base.html`. @derek-adair can you please own #11 and submit a PR for the template change. Thanks.

[2015-04-20 06:19] Zopieux commented on #39
Fine, I'll try to find some time to change that and see if tests pass.

[2015-04-20 15:28] derek-adair commented on #34
Sure thing, i am planning on setting up a site that requires registration.  I can have that on your desk some time next week i think ;)

[2015-04-21 11:49] h-2-0 commented on #43
Thanks, derek-adar! I should put my own eggs next time to keep things open source. Making your own web app package sounds like a great idea too! I've read the 'reusable code' headline before in the Django tutorial but never read the article until today. Thanks everybody!

[2015-04-23 05:27] wfranzini commented on #27
I've the same problem, but it seems that feature (REGISTRATION_FORM) is not available in v1.1.
Maybe the documentation refers to the development version.

[2015-04-24 23:07] painhardcore opened #44 "WARNINGS: registration.RegistrationProfile.user"
Getting this warning
"Performing system checks...
System check identified some issues:

WARNINGS:
registration.RegistrationProfile.user: (fields.W342) Setting unique=True on a ForeignKey has the same effect as using a OneToOneField.
	HINT: ForeignKey(unique=True) is usually better served by a OneToOneField.

System check identified 1 issue (0 silenced).
"
Django 1.8. python3.4 postgres 9.4

What's

[2015-04-25 22:10] TaqiOfficial opened #45 "'AuthUser' object has no attribute 'backend'"
I have customize my User model as describe in this article `http://buildthis.com/customizing-djangos-default-user-model/`. When I register new user then it successfully added to the record but after that error arises `'AuthUser' object has no attribute 'backend'`?

[2015-04-25 23:04] TaqiOfficial commented on #44
I have the same issue with `django 1.8` and `postgres 9.4`. Address the issue ASAP.

[2015-04-29 06:02] skolsuper commented on #37
+1, I was surprised when the pip package didn't have the templates I could see in the github repo. Also, the readthedocs documentation is out of step too, as it only mentions a subset of the templates that users will actually need to implement to get the app working:

http://django-registration-redux.readthedocs.org/en/latest/quickstart.html#required-templates

[2015-04-29 13:11] derek-adair commented on #37
I am supposed to commit those changes in #11, i've been busy catching up with life though, very sorry.  I have a long flight on sunday where i can most certainly stub something out and submit a PR asap for the templates.

[2015-04-29 13:20] skolsuper commented on #37
No need to apologise! I just had a read through there and #34, my 2 cents for what they're worth is that almost every project should have a base.html.  In fact I would argue for that to be in either the django-admin startproject or at least the djangoproject.com tutorial, it would be nice to have it as an accepted convention.

[2015-04-29 13:24] skolsuper commented on #37
To clarify, I mean I agree with [this comment](https://github.com/macropin/django-registration/issues/34#issuecomment-78402507) on leaving it as is and just adding documentation.

[2015-04-29 13:56] derek-adair commented on #37
Ya, thats a good point.  I misread #34 and confused it as the same issue as #11, i THINK i see what you mean.

It sounds like you propose the templates *should be* included and extend base.html, but base.html should not be, as it is a natural assumption for any django project.  correct?

[2015-04-29 14:16] skolsuper commented on #37
Yes that's right.  Mainly because I use other packages (e.g. https://github.com/hovel/pybbm) that assume/require a base.html template so I already have it (i.e. laziness reasons), but I do think it's a useful pattern to encourage.

[2015-04-29 14:37] derek-adair commented on #37
Yup, you've sold me.  My vote is now update the docs and encourage this de facto base.html pattern.

[2015-04-29 15:19] skolsuper commented on #37
:thumbsup:

[2015-04-30 09:04] twcook commented on #44
For Django 1.8 (and future) support there is also the app_label issue.

/lib/python3.4/site-packages/django/contrib/sites/models.py:78: RemovedInDjango19Warning: Model class django.contrib.sites.models.Site doesn't declare an explicit app_label and either isn't in an application in INSTALLED_APPS or else was imported before its application was loaded. This will no longer be supported in Django 1.9

[2015-05-01 19:51] tcosta84 opened #48 "relation "auth_user" does not exist"
Given a newly created django project with the following installed apps:

INSTALLED_APPS = (
    'django.contrib.admin',
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.messages',
    'django.contrib.staticfiles',
    'registration',
)

When I run `./manage.py migrate` for the first time I get the following error:

[code]

[2015-05-03 22:54] drcd commented on #48
I'm having the same issue here. I'm running Django 1.8.1 and Python 3.4.2

[2015-05-04 16:55] tcosta84 commented on #48
I've had this issue running Django 1.8.1 too (Python 2.7) but I have also tested with 1.7 but still no success.

[2015-05-05 09:34] riklaunim commented on #48
Needs https://github.com/macropin/django-registration/pull/25

[2015-05-06 08:58] riklaunim opened #50 "Can't override email template as Django returns original as first match"
After upgrading from old django-registration to redux version my email template rendering blow up.

When I use django:
   loader.select_template(['registration/activation_email.txt'])
I get the django-registration original template (while my overriden template is in my_app/templates/registration/activation_email.txt). The my_app/templates is discovered by AppDirectory template loader, it's on the

[2015-05-06 19:35] martey commented on #44
The original issue described here seems to be a duplicate of #42.

Since the `app_label` issue that twcook describes in happening in `django.contrib.sites`, I don't think it's applicable for this package.

[2015-05-07 20:42] martey commented on #27
I think I ran into the same problem while upgrading from django-registration. I had previously subclassed RegistrationView with a custom `form_class`; django-registration-redux did not work until I added a `REGISTRATION_FORM` setting.

This took more time than I would have liked to fix, because the documentation (immediately below the information about `REGISTRATION_FORM`) claims that overriding `

[2015-05-07 20:44] martey commented on #22
The initial issue described here (using `USERNAME_FIELD` instead of `username`) should be fixed by #24.

[2015-05-09 18:24] cool-RR commented on #48
This issue affects me too.

[2015-05-09 21:38] sh4r3m4n opened #51 "AttributeError when using Django 1.8"
Hi, when I run ./manage.py runserver or ./manage.py shell with django 1.8 and python3 it raises an exception and exits (with py3 and django 1.7 it works perfect):

[code]

[2015-05-10 03:00] AMeng commented on #37
I believe https://github.com/macropin/django-registration/issues/11 and https://github.com/macropin/django-registration/issues/22 are already fixed and should both be closed.

I've provided fixes for a few outstanding issues:
https://github.com/macropin/django-registration/pull/52 fixes https://github.com/macropin/django-registration/issues/34.
https://github.com/macropin/django-registration/pull/

[2015-05-10 03:22] AMeng commented on #51
I don't think this is related to `django-registration`. Your traceback points to your own `models.py`. If you look at the Django 1.8 release notes under [Features removed in 1.8](https://docs.djangoproject.com/en/1.8/releases/1.8/#features-removed-in-1-8):

You need to update your models because `commit_on_success` was removed in Django 1.8. You probably want [django.db.transaction.atomic](https:/

[2015-05-10 03:50] sh4r3m4n commented on #51
Sorry, i forgot I was using a customized version of the package :D

[2015-05-10 03:50] #51 closed

[2015-05-11 04:57] #17 closed

[2015-05-11 04:59] #34 closed

[2015-05-11 04:59] #12 closed

[2015-05-11 05:02] macropin commented on #22
Closing as @martey has indicated #24 resolved this.

[2015-05-11 05:02] #22 closed

[2015-05-11 05:03] #11 closed

[2015-05-11 05:04] macropin commented on #27
I believe this is resolved by the release 1.2, about to go out.

[2015-05-11 05:04] macropin commented on #44
Thanks @martey . Closing.

[2015-05-11 05:04] #44 closed

[2015-05-11 05:09] macropin commented on #26
Somewhat related to #54

[2015-05-11 05:43] macropin commented on #37
Thanks @AMeng for your PR's. I've addressed #25. This release now needs testing. I've pushed an rc to pypi `pip install django-registration-redux==1.2c0`

[2015-05-11 08:09] martey commented on #27
I tried 1.2c0, but this isn't resolved.

Before 4d9c72e000a1a0a22b04f7b6f12b79634eadbeb1, you could use a custom registration form by subclassing RegistrationView and using a custom form_class. After that commit, you must use `REGISTRATION_FORM`.

I don't see using a setting as superior to subclassing (especially since this breaks backwards compatibility with the original django-registration), but

[2015-05-11 10:05] arthur-s commented on #48
I had the same.
How to handle? first, comment 'registration' in INSTALLED_APPS, then run migration (python manage.py migrate).
After that, you uncomment 'registration', and run migration again.

[2015-05-11 14:20] AMeng commented on #39
@Zopieux, I opened a PR to hopefully fix this: https://github.com/macropin/django-registration/pull/56. I imagine this would need to go into a later release because of the compatibility issues.

[2015-05-11 16:55] laginha commented on #27
Subclassing `RegistrationView` and overriding `form_class` should work. Can you provide details of the error?

[2015-05-11 20:06] Zopieux commented on #39
Wow, completely forgot about this! I should setup some kind of TODO for Github…

Nice progress though, I'll have a look.

[2015-05-11 20:24] martey commented on #27
If I am using a custom user Model (`EmailUser`) that does not have the username field and do not set the `REGISTRATION_FORM` setting, I get the following error:
[code]

[2015-05-11 22:10] macropin commented on #48
#25 has been merged. Please refer to the release candidate `pip install django-registration-redux==1.2c0`

[2015-05-11 22:10] #48 closed

[2015-05-11 23:18] macropin commented on #37
Waiting to close off #27 before shipping this release.

[2015-05-12 00:34] AMeng commented on #50
I'm able to reproduce this. Appears to have been introduced in https://github.com/macropin/django-registration/commit/12aba225843023cc7355406e7c984eec733f4a2d when templates were added to the application. Django version should not matter here.

**To reproduce this:** Override `registration/activation_email.txt` but do *not* override `registration/activation_email.html`. The default `.html` templat

[2015-05-12 01:44] AMeng commented on #45
I'm not able to reproduce this. Can you provide a traceback?

[2015-05-12 03:25] AMeng commented on #50
@riklaunim this was addressed in https://github.com/macropin/django-registration/pull/57.

The solution is to either override the `registration/activation_email.html` template or add the following to settings.py:

[code]

[2015-05-12 05:09] AMeng commented on #27
@martey I'm not able to reproduce this. When do you see this error? Is that a full traceback you posted?

The commit you referred to (https://github.com/macropin/django-registration/commit/4d9c72e000a1a0a22b04f7b6f12b79634eadbeb1) only changes where the default is pulled form. Overriding it still works for me.

It might help if you post your custom form, custom model, and custom view if you have o

[2015-05-12 06:01] riklaunim commented on #50
I'll check this out.

[2015-05-12 10:28] laginha commented on #27
Since you are using a custom user model (with no username field) and Django does some actual work without you even initialising the `RegistrationForm`, the error is raised.

I've made a [pull request](https://github.com/macropin/django-registration/pull/58) with a fix.

[2015-05-12 14:12] riklaunim commented on #50
I have both .txt and .html templates

[2015-05-12 16:27] martey commented on #27
Because of that commit, If you don't set `REGISTRATION_FORM`,  the code  will still import `registration.forms.RegistrationForm`. Since my custom user model does not have a field called "username", it raises a FieldError during this import.

@laginha, your changes fixed the FieldError.

I still think that the `REGISTRATION_FORM` setting is not necessary and should be removed, since it duplicates t

[2015-05-13 08:59] riklaunim commented on #50
This doesn't solve the problem. I've override both templates and more and still the .txt template is fetched in the original form (/env/lib/python3.4/site-packages/registration/templates/registration/activation_email.txt) which results in

```django.core.urlresolvers.NoReverseMatch: Reverse for 'registration_activate' with arguments '('',)' and keyword arguments '{}' not found. 0 pattern(s) tried:

[2015-05-14 10:13] michela commented on #50
Able to repro error with Django 1.8.1/django-registration-redux==1.2c0/python2.7

 riklaunim can you elaborate on your hack above so I can try it?

Is this a patch to django-registration-redux?

[2015-05-14 10:52] michela commented on #50
Ugly workaround for anyone else with broken password reset:

Move the django.contrib.admin.template out of the way so app templates used

./site-packages/django/contrib/admin/templates/registration$ mv password_reset_email.html password_reset_email.html.ori

Advice on cleaner approach pre-patch welcome!

[2015-05-14 11:16] riklaunim commented on #50
For django 1.7 you can pass a list of directories for the select_template and other methods:

[code]
When it's reversed it finds my template first and uses it. For Django 1.8 the API is totally different and I don't know if there is an equivalent hack for this. It should work without hacks in the first place.

[2015-05-14 17:25] mcrowson opened #60 "Make email paths variable"
It would be great if I could pass a template path for the activation email. Currently they are hard coded into the model.

https://github.com/macropin/django-registration/blob/master/registration/models.py

[2015-05-16 04:20] #27 closed

[2015-05-16 04:33] AMeng commented on #50
I'm not able to reproduce the broken overrides. Can you post your settings.py? I'm curious about your `INSTALLED_APPS`, `TEMPLATE_DIRS`, and `TEMPLATE_LOADERS` settings. I'm also curious if you've seen this same issue with any other third party Django apps?

[2015-05-16 04:41] AMeng commented on #37
@macropin, how do you feel about a formal release or another RC?

[2015-05-16 05:47] macropin commented on #37
@AMeng you seem to be all over the current issues ;). If you're happy. I'll push another rc now.

[2015-05-16 05:50] macropin commented on #37
It's on PyPi now `pip install django-registration-redux==1.2c1`

[2015-05-16 12:26] riklaunim commented on #50
In INSTALLED_APPS registration is before my app. I have app_directories and filesystem loaders and reversing their order doesn't help either. Seems like other third party templates get overriden as before. TEMPLATES_DIR is not used.

[2015-05-17 03:40] AMeng commented on #45
@TaqiOfficial are you still seeing this with `django-registration-redux==1.2c1`?

[2015-05-17 03:43] AMeng commented on #28
@atleta, are you still seeing an issue with custom form classes in `django-registration-redux==1.2c1`?

[2015-05-17 04:34] TaqiOfficial commented on #45
@AMeng em' using  django-registration-redux==1.1

[2015-05-17 11:23] michela commented on #50
AMeng, I haven't seen this issue with any other apps. Stripped out legacy loaders that aren't used in Django 1.8 startproject script

TEMPLATE_LOADERS = (
	'django.template.loaders.app_directories.Loader',
)
TEMPLATE_DIRS = (os.path.join(BASE_DIR, "templates"),)
INSTALLED_APPS = (
	'django.contrib.staticfiles',
	'django_extensions',
    'django.contrib.auth',
    'django.contrib.contenttypes',

[2015-05-17 11:53] riklaunim commented on #50
It's possible that an odd import of itself within django-registration causes Django to register the application or its templates to soon.

[2015-05-17 13:33] AMeng commented on #45
@TaqiOfficial would you mind testing with `1.2c1`?

[2015-05-18 10:02] riklaunim commented on #50
https://docs.djangoproject.com/en/1.7/ref/templates/api/#django.template.loaders.app_directories.Loader INSTALLED_APPS order causes this.

The solution is to use TEMPLATE_DIRS:
[code]

Or put templates in an application that can go before "registration" in INSTALLED_APPs (my app has some import/model dependencies so I would have to move the templates to blank new app).

[2015-05-18 14:51] derek-adair commented on #11
Sorry i dropped the ball here, something about a 2 week vacation and getting married i seemed to have lost this issue in my todo-lists :)  Life is back to normal now so I am available... for reals this time.

[2015-05-19 03:17] AMeng commented on #50
Sounds like this is just a side effect of including templates in a third party application. I don't think there is anything we can do within the project to improve this experience.

[2015-05-19 03:25] AMeng commented on #37
@macropin `1.2c1` is looking good from testing in my applications.

The current state of open issues (other than enhancements):
https://github.com/macropin/django-registration/issues/28 - No response, assumed fixed in 1.2c1
https://github.com/macropin/django-registration/issues/45 - No response, assumed fixed in 1.2c1
https://github.com/macropin/django-registration/issues/50 - Issue outside of thi

[2015-05-19 04:21] #50 closed

[2015-05-19 04:29] macropin commented on #37
Thanks @AMeng for summarising this.
Release pushed to PyPi https://pypi.python.org/pypi/django-registration-redux/1.2 Now to work on 1.3

[2015-05-19 04:29] #37 closed

[2015-05-19 04:29] macropin commented on #28
This is presumed fixed in v1.2.

[2015-05-19 04:29] #28 closed

[2015-05-19 04:30] macropin commented on #45
This is presumed fixed in v1.2.

[2015-05-19 04:30] #45 closed

[2015-05-22 08:57] ritave opened #63 "User model loaded before models are ready in registration/users.py:7"
We encountered this problem during our nightlies (log below), searching the internet it seems that we're not the only ones with the problem (see http://stackoverflow.com/a/27845576/4783965 for a probable fix). Having checked django-registration-redux code I'm confirming that the user model is still being loaded during import time which will not work during django installed app population.

Log out

[2015-05-24 03:09] sbrinkerhoff opened #64 "New Install fails on 'no module named registrationfrontpage'"

[2015-05-24 03:12] #64 closed

[2015-05-27 05:52] ramaseshan commented on #48
I have been using this with Django 1.6 and south.

SyncDB output :+1:

(mediaarchival)➜  media_archival git:(develop) ✗ ./manage.py syncdb
Syncing...
Creating tables ...
Installing custom SQL ...
Installing indexes ...
Installed 0 object(s) from 0 fixture(s)

Synced:

Not synced (use migrations):
 - taggit
 - registration
(use ./manage.py migrate to migrate these)

(mediaarchival)➜  media_archival

[2015-05-28 09:43] macropin commented on #63
Can you please submit a simple case that reproduces the issue. A fix and test case would be nice too ;)

[2015-05-28 17:07] johnnyz opened #65 "Error creating new content types. Please make sure contenttypes is migrated before trying to migrate apps individually."
close

[2015-05-28 20:44] dwt opened #66 "Import of deprecated object RequestSite (removed in django 1.9)"
The problem is that in https://github.com/macropin/django-registration/blob/master/registration/admin.py#L2 RequestSite is imported as ``from django.contrib.sites.models import RequestSite`` - but it has moved to ``django.contrib.sites.requests``

Please fix, as the plugin is unusable with django 1.9 otherwise.

[2015-05-30 06:21] #65 closed

[2015-06-02 14:23] riklaunim opened #68 "django.utils.importlib will be removed in Django 1.9"
So fallback imports used now if importlib doesn't exist will stop working anyway.
[code]

[2015-06-03 15:12] HiddenClever commented on #63
I've had this issue too but it's in a project so complicated I wouldn't be able to extract a broken example easily. Even without an example though as a rule of thumb the User model should never be instantiated at import and this has been the case since custom user models were implemented. The following example allows backwards compatibility (originally taken from django-cms before they dropped sup

[2015-06-04 10:31] dicato opened #70 "Activation failed - email clients likely pre-fetching the activation URL?"
Has anyone else run into email clients, specifically web based ones, pre-fetching the activation URL? This causes the User's email to be verified and therefore activated. When the User subsequently requests the activation URL, they are presented with a failure message, but their account has actually already been activated.

Given the design of setting the activation key to `ALREADY_ACTIVATED`, and

[2015-06-07 21:14] vikas-parashar opened #71 "Unique email by default"
It's basic requirement for registration so one can't register multiple times using same email account.
It would be great if you merge `RegistrationFormUniqueEmail` with `RegistrationForm` in . You can provide a class like 'RegistrationFormNonUniqueEmail` if someone don't want unique email which is a rare case.
https://github.com/macropin/django-registration/blob/master/registration/forms.py

Thank

[2015-06-15 01:58] macropin commented on #70
I've also personally had users complain that they received an error, when it was most likely that they double clicked the link.

[2015-06-15 02:06] macropin commented on #68
Should be solved by #69

[2015-06-15 02:06] #68 closed

[2015-06-15 02:06] macropin commented on #66
Should be solved by #69

[2015-06-15 02:06] #66 closed

[2015-06-15 10:07] dicato commented on #70
@macropin I'm working on a fix and will hopefully have a pull request up later today :smile:

[2015-06-30 12:56] remazevs opened #73 "how to add new feilds in registration form?"
hi i m new in django ...i made registration form fro use of your code..and iits works..but i have add new feilds in forms ..how can i add..? ..pls help

[2015-07-02 19:00] DrJackilD commented on #73
You can make subclass form (inherited from RegistrationForm), create some fields and add it. When you did it, make new class in views, inherited from RegistrationView of simple, or default backend, and override form_class variable with your form class. When you did it, make change in your urls.py, something like url(r'^accounts/register', YourViewClass.as_view, name='registration_register'), and p

[2015-07-03 06:35] #73 closed

[2015-07-03 06:53] remazevs commented on #73
thanks for replay...its works

[2015-07-06 20:25] ttttian opened #75 "Set REGISTRATION_EMAIL_SUBJECT_PREFIX default to EMAIL_SUBJECT_PREFIX"
With the same logic as `getattr(settings, 'REGISTRATION_DEFAULT_FROM_EMAIL', settings.DEFAULT_FROM_EMAIL)`, `getattr(settings, 'REGISTRATION_EMAIL_SUBJECT_PREFIX', settings.EMAIL_SUBJECT_PREFIX)` instead of current `getattr(settings, 'REGISTRATION_EMAIL_SUBJECT_PREFIX', '')` would be more compatible to the Django default settings.

https://github.com/macropin/django-registration/blob/master/regist

[2015-07-09 20:10] FroggyRiseman opened #77 "Registered users and activation keys are not appearing in admin."
I'm new to programming and might not ask correctly about my exact issue.

When I register users they are not appearing here `/admin/registration/registrationprofile/`.
Because of this there is also no activation keys and no activation emails being sent. I've followed the [official doc](https://django-registration-redux.readthedocs.org/en/latest/index.html), used the [Tango With Django](http://www.

[2015-07-15 10:33] slogan621 commented on #50
For me this was caused by the following in settings.py:

TEMPLATE_DIRS = (
    os.path.join(SITE_ROOT, 'templates'),
    os.path.join(SITE_ROOT, 'templates/registration'),
)

Commenting out the second line fixed it. I was doing an upgrade from django 1.3 to 1.8 when I encountered the issue.

[2015-07-24 13:51] 5xum opened #81 "Cannot include the urls with namespace"
Right now, adding

url(r'^accounts/', include('registration.backends.default.urls', namespace='accounts')),

to my urls.py file will cause an error anywhere in my template where I use {% url 'accounts:auth_password_change' %}

This is probably because of the line

{'post_change_redirect': reverse_lazy('auth_password_change_done')}

which causes the template engine to go reverse 'auth_password_chan

[2015-08-04 10:49] stringsonfire commented on #71
It would make more sense to require unique emails as standard

[2015-08-05 13:11] Sayyiditow opened #83 "How to use all Forms for user registration"
Hi guys,

I am new to this and I kinda need to use RegistrationFormUniqueEmail and RegistrationFormNoFreeEmail at the same time. I have tried to use the form class but I can only subclass  one form at a time. Is there a way to use both subclasses at the same time?

Thanks in advance

[2015-08-05 14:34] dicato commented on #83
Why can you only subclass one `Form` at a time? You *should* be able to inherit from many.

In theory, you should be able to do this:

[code]

[2015-08-05 15:18] Sayyiditow commented on #83
Hey man, thanks a lot for getting back to me ASAP. I just used this on django and it works! You are a savior! Btw, you got a spelling wrong on:

class RegistrationFormUniquePaidEmail(RegistrationFormUniqueEmail, ResigtrationFormNoFreeEmail): Second class is ReGis...

Anyways, here's how I implemented both for those who wanna know. I used both in urls.py however you can do half in forms.py and the

[2015-08-05 15:21] dicato commented on #83
You're welcome, glad I could help! :+1:

[2015-08-06 00:38] dicato commented on #83
@macropin you can close this!

[2015-08-06 04:31] #83 closed

[2015-08-06 04:33] macropin commented on #60
What's the use case for this requirement?

[2015-08-06 13:39] mcrowson commented on #60
I would like to keep my emails in a single folder (emails) but with the paths hard coded I have to have the registration emails in the hard coded folder. I am already subclassing anyway to specify a template path, so it would be nice if this were just another variable to set for the subclass.

[2015-08-07 08:57] willfurnell commented on #18
@dicato Did you get this sorted in the end? I would love to have the user need to enter a 'secret' word and choose something from a dropdown during the registration process to put in the UserProfile model.

[2015-08-07 11:48] dicato commented on #18
@willfurnell we used the above approach for awhile. When a `User` registered, we forced them to provide two additional pieces of information. We saved that information on our custom `RegistrationProfile` and then used it to pre-configure settings in our application.

Feedback from our users and a few people with expertise in user experience told us they did not like this process. We had created ad

[2015-08-07 11:48] #18 closed

[2015-08-08 08:56] ishaq opened #85 "django.core.urlresolvers.NoReverseMatch: Reverse for 'password_reset_confirm'"
**Django:** 1.8
**Python:** 3.4

When a user tries to reset password, it throws exception:

[code]

[This thread](https://stackoverflow.com/questions/19985103/django-1-6-and-django-registration-built-in-authentication-views-not-picked-up) on Stackoverflow solved it for me.

[code]

[2015-08-08 15:52] dicato commented on #85
@ishaq I usually include auth URLs in the same way you describe.

Did you see [this documentation about registration.auth_urls](https://django-registration-redux.readthedocs.org/en/latest/faq.html#configuration)? Does it help?

[2015-08-08 16:18] ishaq commented on #85
@dicato thanks for the link to the documentation. I had seen it though, It was not helpful because it doesn't say password reset function will not work unless one puts additional patterns in url conf. It was only after seeing the exception that I realised some url patterns are missing.

please note that the issue is not that I wasn't including auth_urls (they are included by default with the *regi

[2015-08-09 18:03] tobias47n9e opened #86 "Not installing in pip 6.0.8 and Fedora 22"
Tried to install this today (```pip3 install django-registration-redux```) and got this traceback:

[code]

After updating pip to version 7.1 it worked. It seems that that is a common bug related to pypi (e.g. https://bitbucket.org/pypa/setuptools/issues/137).

[2015-08-10 20:52] mick-t commented on #48
I having this problem with Django 1.5.12 and django-registration-redux 1.2. I am unable to install the 1.2c0 using the pip command that macropin suggested:

[code]

However this worked:

[code]

[2015-08-10 21:04] mick-t opened #87 "Syndb and south migration fails with Django 1.5.11: You have no migrations for the 'registration' app. You might want some."
Hi,

I'm using Django 1.5.11 and I've installed django-registration-redux 1.2, 1.2c0, and 1.3a0 and neither syncdb nor south migrations appear to be working and running the South migration command fails with:

``` You have no migrations for the 'registration' app. You might want some. ```

'register' is added to INSTALLED_APP.

Here's the output from syncdb:

[code]

And the output from running th

[2015-08-11 11:04] dicato commented on #85
@ishaq thanks for the clarification. I think I understand. I'm still uncertain if there is actually anything to fix. I thought that [this code addressed the issue for Django 1.6](https://github.com/macropin/django-registration/blob/bfe6426c64171f8f3afb5980fe58b74bb0fae732/registration/auth_urls.py#L65).

I just tested the [test application](https://github.com/macropin/django-registration/tree/bfe6

[2015-08-11 15:11] mick-t commented on #87
[README] (https://github.com/macropin/django-registration/blob/master/README.rst) says it works on Django 1.4+:

[2015-08-11 15:13] mick-t commented on #87
I created a fork and recreated the South migrations:

https://github.com/sbgrid/django-registration/tree/master/registration/south_migrations

These work for me, but what can I do to help with this?

[2015-08-16 16:19] ishaq commented on #85
@dicato sorry for replying late. I have tested the test application against Django 1.8.3 (both Python 2.7.10 and Python 3.4.2). It works.

Therefore the problem must be with just my setup. I'll figure it out, Closing this. Sorry :smile:

[2015-08-16 16:19] #85 closed

[2015-08-17 10:44] dicato commented on #85
@ishaq no problem! I'm glad you figured it out. If you end up determining the cause locally, please let me know!

[2015-08-18 12:01] seddonym opened #88 "Migration failure when upgrading from 1.1 to 1.2"
When I upgraded django-registration-redux from 1.1 to 1.2, and then ran `./manage.py migrate`, I get the following error:

    django.db.utils.ProgrammingError: relation "registration_registrationprofile" already exists

This is because the table was already created via a syncdb command, before the migrations were added to the codebase.

The migrations can be faked manually but I wonder if there i

[2015-08-18 15:33] mick-t commented on #87
This commit by mauler should resolve the issue:

* https://github.com/macropin/django-registration/pull/78/commits

Can you please merge this change so that I don't have to use a fork? :)

Thanks.

[2015-08-19 09:38] martey opened #89 "Upgrade guide in documentation & Releases page conflict with each other"
The [upgrade guide in the documentation](https://github.com/macropin/django-registration/blob/9ba4cc7f1cfc524b980739e8d96470848fd6986a/docs/upgrade.rst) and the [information on the Releases page](https://github.com/macropin/django-registration/releases) conflict with each other. For example:
- The documentation claims that 1.2 changes the parameters of the register method in RegistrationView; this

[2015-08-20 16:33] ishaq commented on #85
@dicato the issue was that _django.contrib.admin_ appeared above _registration_ in `INSTALLED_APPS` array in `settings.py`.

It was also using admin templates for password reset and password change. So, if one notices those templates being used, _django.contrib.admin_ should be immediately moved below _registration_ in `INSTALLED_APPS` array to use correct templates and to avoid this issue.

[2015-08-20 20:46] amitbend opened #91 "Passing extra context to registration form"
Hi,
I'm struggling with this for a while, , and i hope anyone can help me.

I'm trying to pass extra context (model objects) to
``` registration/registration_form.html ```

i red the docs few times and tried multiple solutions but nothing works. :(

[2015-08-21 12:56] dicato commented on #91
If you literally want to pass extra data to `context` for use in the template, you can subclass the `RegistrationView` you are using and add the appropriate data in `get_context_data`.

For example:

[code]

[2015-08-21 12:56] dicato commented on #91
If you literally want to pass extra data to `context` for use in the template, you can subclass the `RegistrationView` you are using and add the appropriate data in `get_context_data`.

For example:

[code]

[2015-08-21 15:04] dicato commented on #85
@ishaq thanks for the update! I'm wondering if there is a good way to explain that in the documentation? Ordering on installed apps matters.

[2015-08-23 14:55] amitbend commented on #91
Thanks you dicato!
it works.

[2015-08-23 16:26] dicato commented on #91
:+1: You're welcome!

@macropin feel free to close this issue.

[2015-08-24 19:28] mick-t commented on #87
Bump.

[2015-08-25 02:26] macropin commented on #87
Merged.

[2015-08-25 02:26] #87 closed

[2015-08-26 00:37] timgraham opened #92 "Drop support for unsupported Django versions"
Django 1.6 is unsupported and 1.4 will be unsupported October 1. Is it time to drop support for these versions?

[2015-08-27 11:21] stringsonfire opened #93 "Question: Would changing an email fit in this project?"
Given a new email also needs to be activated, and the mechanism is in place here, is that something to think about including in django-registration-redux, or is it beyond the scope of this project?

[2015-08-27 15:52] mick-t commented on #87
My bad! I didn't read through his commit in detail and I assumed it would work -- it doesn't because it has a models that don't exist in Django 1.5 or later and are what I assume custom models that mauler created for his own purposes:

These custom models all begin with "core." such as:

* core.accommodation
* core.accommodationtype
* core.attraction
* ...

I dug through the Django source and ther

[2015-08-28 01:25] macropin commented on #93
Are you proposing adding the workflows for validating a change of email address? Yes, I would think that it fits within the domain of this project.

[2015-08-28 09:41] stringsonfire commented on #93
As a feature suggestion, yes. Unfortunately, I'm currently far from skilled enough to implement something like that myself (full disclosure: I'm not really a developer)

[2015-08-28 13:50] dicato commented on #93
I agree this would be useful. I often run into the scenario where Users are allowed to change their email. Once changed, their email is technically unverified, but an Admin needs to manually push the User through the verification process.

I'd be happy to work on this.

[2015-08-28 14:09] stringsonfire commented on #93
Awesome, thanks!

Would similar functionality for Username fit here as well?

Although it doesn't require activation, I can imagine there is more involved, for example limiting the number of times a username can be changed per amount of time, or maybe saving the previous username for a certain amount of time, to use for redirection and to prevent other users from using it for a certain amount of t

[2015-08-28 14:37] dicato commented on #93
I don't think so. Changing Username is not related to the User registration process in my opinion. Email verification is; that data is literally saved on the Registration model.

[2015-08-29 15:52] stringsonfire opened #95 "Request: Optionally validate Username uniqueness with iexact"
Having read [this issue](https://code.djangoproject.com/ticket/2273) raised at the Django repository, the Django team aren't willing to fix this, citing some strange reasons.

Currently, StringsonFire, STRINGSonfire and stringsONfire would all be valid usernames in the same database, even though, when case is ignored, they're the same. Given usernames are a simple and visually friendly way to iden

[2015-08-30 23:32] macropin commented on #89
Happy to take a pull request to address these issues. Thanks.

[2015-09-02 11:18] stantond opened #96 "Redirect users already logged in away from registration page"
Have I missed this functionality? Otherwise, I'd like to request it. Just a URL/Name in settings used to redirect users to somewhere else if they find their way to accounts/register/ when they're already logged in.

[2015-09-02 12:58] dicato commented on #96
Where would you want the default redirection to go?

To achieve this functionality I use [django-braces](http://django-braces.readthedocs.org/en/latest/access.html#anonymousrequiredmixin), specifically the `AnonymousRequiredMixin` and override the `authenticated_redirect_url` in most views to point to specific other views. By default it will redirect to `settings.LOGIN_REDIRECT_URL`.

This means t

[2015-09-06 18:44] nehri97 opened #99 "Documentation Issues"
I have the impression that the documentation was intended for those migrating from django-registration to redux. Many complain that the documentation could be much better. It would be nice if aside from the very introductory topics (like installation), there would be intermediate steps for those who came straight to django-registration-redux but would want more info on customizing it for their own

[2015-09-06 23:17] macropin commented on #99
I'm happy to accept a PR with improvements.

[2015-09-10 06:02] macropin commented on #88
I don't believe it is possible to handle this other than to fake the migration. Would you mind sending a PR to document this issue?

[2015-09-10 06:04] macropin commented on #86
Thanks for the report. I'll close this as I don't think there is anything we can do here.

[2015-09-10 06:04] #86 closed

[2015-09-10 06:05] macropin commented on #92
Yes, that's the plan. Happy to take a PR to adjust the documentation, tests etc for the next release.

[2015-09-10 06:07] macropin commented on #81
What's the fix to pass namespace generically?

[2015-09-10 06:12] macropin commented on #95
I think it's a good idea. As this is a common enough problem / use case. Also would be a good idea to be able to handle the issue of email addresses as usernames. But it would require a nice PR, with tests, documentation etc.

[2015-09-10 06:19] #70 closed

[2015-09-10 06:22] macropin commented on #70
I've merged in the changes. Sorry for the delay. I'm pretty busy these days, so I can only give the code a once over and go with the merge and hope approach. On your head if it breaks things for other people :smile: .

[2015-09-10 14:56] dicato commented on #70
:smile: I understand.

I've been running that branch in production since June when I made the pull request. It's been solid. Hopefully if people run into issues they report them here and I can help!

[2015-09-11 15:19] mimischi commented on #96
I'd like to have this inside the default package. If a user is already logged in, he doesn't need to view any of the login/registration themed pages.
Another thing would be the /confirm/ and /complete/ pages, which shouldn't really be displayed when accessed directly (while they don't have any functionality..)

[2015-09-11 16:03] dicato commented on #96
@macropin do you have thoughts on leveraging django-braces to get this functionality in registration? It's how I have implemented it in a variety of cases and works well. I don't suggest re-implementing it from scratch.

[2015-09-12 00:23] macropin commented on #96
I don't think we want to introduce a dependency for the sake of one mixin. Redirecting away to `settings.LOGIN_REDIRECT_URL` is probably a sane choice.

Are there any use cases where we *want* the old behaviour? I've certainly never encountered it.

[2015-09-14 21:01] dicato commented on #93
After some debate, here is my plan for this:

* connect a `pre_save` signal to the `User` model
* in said signal compare the email address on the instance with the email address in the database using said instance's ID for lookup
* if said emails differ, set `RegistrationProfile.activated` to `False` and kickoff the activation process

There are a bunch of challenges with re-starting the activatio

[2015-09-15 08:20] stringsonfire commented on #93
Reusing the process as is would raise some UX issues. For example, I change my email address, activate my email, and I'm taken to the same page I saw when I first activated my account, so either

1. this page cannot contain information only relevant to new users
2. new views and templates are required to separate this, or
3. an additional redirect is needed away from the activated page if the user

[2015-09-15 11:03] kazitanvirahsan opened #101 "Table 'test.registration_registrationprofile' doesn't exist"
Request Method: 	POST
Request URL: 	..127.0.0.1:8000/accounts/register/
Django Version: 	1.8.2
Exception Type: 	ProgrammingError
Exception Value:
(1146, "Table 'test.registration_registrationprofile' doesn't exist")

happens after filling up the registration form. However I can see the new row created in auth_user table.

[2015-09-15 11:24] kazitanvirahsan opened #102 "Request for maintain a separate branch for development"
Unless I did not able to find it,my suggestion is to create a separate branch for development.

[2015-09-15 13:28] dicato commented on #93
You are correct regarding re-activation; the emails and views will currently have the same content as initial registration and activation. I was considering refactoring the related code to allow for different templates to be passed in for rendering in the emails and views. I need to poke around a bit to see how that would work.

I was *not* going to make the account inactive on email change. I bel

[2015-09-15 13:57] dicato commented on #101
Are you trying to use the example application - `test_app` - in this repository? Did you run `python manage.py migrate` before starting `runserver`?

[2015-09-15 13:58] dicato commented on #102
The [master branch](https://github.com/macropin/django-registration/tree/master) is the branch under active development.

[2015-09-17 14:20] shgandhi opened #103 "[Errno 20] Not a directory: django-registration-redux 1.2"
Getting the error below on "python manage.py runserver". Tried django-registration redux version 1.2, on django 1.8.2 and python 3.4. Is there a workaround for this?
 <pre><code>[Errno 20] Not a directory: '/webapp>/virtualenv/lib/python3.4/site-packages/django_registration_redux-1.2-py3.4.egg/registration/migrations'</code></pre>

[2015-09-17 14:28] dicato commented on #103
How did you install django-registration-redux?

[2015-09-17 14:42] shgandhi commented on #103
Downloaded the tar file from Python Package Index - installed using 'python setup.py install.
Also tried using version 1.3 downloaded from github, and installed the same way.

[2015-09-17 16:01] dicato commented on #103
From the error, it looks like you are installing in a virtualenv? Is that true? Can you open that virtualenv's Python interpreter and `import registration`?

Before using the package in your Django project, you will need to sync and migrate the database as well.

[2015-09-18 08:16] Suede323324 commented on #103
I also have this issue, and I can  import registration

[2015-09-18 12:36] dicato commented on #103
Interesting. The issue is not obvious to me. I'll try to re-create locally and will report back.

[2015-09-18 12:49] dicato commented on #103
@shgandhi & @Suede323324 are you seeing this error on new installation of drr or upgrading drr for a project already using it?

[2015-09-18 14:37] dicato commented on #103
Interesting. I was able to re-produce the issue by installing drr from source instead of using `pip`.

While I figure out why that is happening, install using `pip` in the meantime as a workaround if possible.

[2015-09-18 15:41] dicato commented on #103
I've put up #104 to address this issue.

[2015-09-18 16:17] Suede323324 commented on #103
Thanks dicato :+1: !But now,would I remove the  directory :/usr/local/lib/python2.7/dist-packages/django_registration_redux-1.2-py2.7.egg, and reinstall the django-registration-redux

[2015-09-18 16:25] dicato commented on #103
@Suede323324 you can delete those files and re-install. You will either need to pull the branch in #104 or use `python setup.py develop` as a workaround while that pull request is being reviewed and eventually lands in the next release.

[2015-09-18 20:11] shgandhi commented on #103
Thanks @dicato :smiley:
Used <code>python setup.py develop</code> to reinstall registration redux, works perfectly!

[2015-09-18 20:16] #91 closed

[2015-09-18 20:18] dicato commented on #21
#96 is a duplicate of this. Given there is more conversation in #96 than this issue, I'm closing this issue.

[2015-09-18 20:18] #21 closed

[2015-09-20 22:16] arpitremarkable opened #106 "RegistrationView.register method doesn't know how to get site object properly"
Piece of code that is currently (in 1.2) to get current Site object
[code]
This is creating problem in my situation where I have Site framework installed but don't have SITE_ID defined in my settings(it's set to None) as I'm relying on my `request.get_host()` to fetch me the correct Site object (using subdomains).. And that is why `RequestSite(request)` works fine for me, but not `Site.objects.get

[2015-09-21 02:54] #103 closed

[2015-09-21 10:08] #102 closed

[2015-09-21 10:08] dicato commented on #102
I'm closing this because master is the branch under active development.

[2015-09-21 10:09] dicato commented on #101
I believe the issue is forgetting to sync and migrate the database. Closing and will re-open if it turns out to be something else.

[2015-09-21 10:09] #101 closed

[2015-09-21 16:57] areski opened #109 "Manual validation from the admin"
This is proposition for a new feature, the idea is that the admin have to manually accept the new registered user before they are allowed to register.

So after registration and mail validation the user, get on a view with "Your account is being review, we will confirm it shortly!"

Maybe a similar feature can be achieve with a workaround?

[2015-09-22 10:26] dicato commented on #109
Considering I've built that exact workflow in the past, I agree it's a useful feature.

Could you take a look at [django-allauth](https://github.com/pennersr/django-allauth) and determine whether that workflow is already supported?

[2015-09-23 09:53] martey commented on #89
I explicitly created an issue instead of making a pull request for this because any solution requires buy-in by the person creating releases so that this doesn't recur in the future:

  - The Releases page is not part of the repository and currently contains misleading information. Any pull request that I or someone else submit will not fix this.
  - It's still not clear if you would prefer backwa

[2015-09-23 15:21] clee842 commented on #50
@michela Hello, I tried something similar to what you said and then the email template overriding now works properly.

I moved 'django.contrib.admin' **below** 'registration' in my INSTALLED_APPS.

The admin app was having priority with template rendering over other apps.

Thank you.

[2015-10-01 18:57] mhb11 opened #114 "High failure-rate of Django-registration in slow mobile internet environment"
@macropin
I have a text-based app that lets users in low-resource localities communicate with one another over extremely flaky mobile internet (GPRS). It's being used in villages in South Asia, by people who can't afford great devices nor live in localities with robust coverage.

My app utilizes django-registration to enable basic registration. I'm getting a complaint from ~50% of my users that re

[2015-10-01 20:30] dicato commented on #114
Have you been able to consistently reproduce the issue? If so, could you tell me some steps and I can try to reproduce? Specifically which piece of the registration process is failing?

[2015-10-03 21:01] arpitremarkable commented on #106
Any reviewers?

[2015-10-04 14:18] dicato commented on #106
I will review. Thanks for filing the issue and making a PR.

[2015-10-05 00:51] #106 closed

[2015-10-05 11:32] areski commented on #109
As far as I could see that workflow doesn't seem to be supported in django-allauth

[2015-10-05 14:13] dicato commented on #109
Thanks for doing the research.

If you work on a pull request, I'm happy to provide input and review. I will say that after using that workflow in production, we eventually moved away from it as it created a very high barrier of entry for adoption of our services, which was leading to us losing users. Just food for thought. There are absolutely use cases for this.

[2015-10-05 14:19] areski commented on #109
I understand that  in most cases this is not the willing behavior. Usually I don't want this, but in one of my scenario -I work in VoIP and payment- we want to run a manual verification on new user to reduce fraud risks.

I will send a PR as soon as this comes back to my priority list.

[2015-10-18 19:33] ahammouda3 commented on #99
One point on the documentation front would be to note that in order to override the admin templates for password reset functionality, you need to do the following:

     $ mkdir $TEMPLATE_DIR/registration
     $ mv django_registration/registration/templates/registration/password_* $TEMPLATE_DIR/registration

I don't know that this is obvious, or the best way to do things.  If no one has made a PR

[2015-10-19 05:52] soulraven opened #116 "Terms of service is missing from documentation"
How to use TOS in a registration form?
Any point from this is missing how to integrate in django template

[2015-10-19 14:17] dicato commented on #99
@ahammouda3 it's not obvious, and tends to be the "way to do it" for any Django application. If you can, please make the changes and open a pull request. :smile:

[2015-10-23 08:54] soulraven commented on #116
anyone? how to include this element inside the form?

[2015-10-23 11:34] dicato commented on #116
The form will be passed into the appropriate views as part of the context. You can render the form as you would any other variable in the context. For example:

[code]

Using the TOS Form will include a checkbox that must be checked during registration.

Does that make sense?

[2015-10-23 11:41] soulraven commented on #116
ok, but if i want to add manually that field? how i do that, because i don't know what is the schema for form var

[2015-10-23 13:09] dicato commented on #116
You need to write your own custom HTML if you choose to do that. I'd refer to Django's documentation on forms. https://docs.djangoproject.com/en/1.8/topics/forms/

[2015-10-28 03:23] jamesturk commented on #92
working on this (and adding 1.9 support)

would this be OK for support?

Python 2.7, 3.4, 3.5
Django 1.7, 1.8, 1.9

1.7 is about to become unsupported (December) but doesn't seem that hard to support compared to 1.6

rough WIP branch here: https://github.com/jamesturk/django-registration/tree/drop-old-versions

[2015-10-28 04:27] jamesturk commented on #92
similarly, realized in doing this that 3.3 isn't hard to keep but is dropped by Django 1.9 and later.

glad to submit a PR with or without 3.3 and/or 1.7 depending on what you all prefer

[2015-10-28 05:02] macropin commented on #92
I haven't seen much use of Python versions other than 2.7 / 3.4. I don't think the inclusion of 3.3 or loss is a big deal either way - I don't think we're using any features that would make it impossible to not support 3.3 but then again what's the point if there are no users.. Django 1.7, 1.8, 1.9 seems sane. And lets go with Python 2.7, 3.4, 3.5.

[2015-10-28 13:33] dicato commented on #92
I agree with supporting those versions.

[2015-10-28 14:06] jamesturk commented on #92
left 3.3 in for now because it was one extra import, PR is #117

[2015-10-29 00:00] macropin commented on #92
Thanks for this PR merged.

[2015-10-29 00:00] #92 closed

[2015-10-29 14:02] soulraven opened #118 "Upgrade to 1.9"
Any plans to upgrade on django 1.9 versions?

[2015-10-29 22:44] macropin commented on #118
Initial 1.9 support was merged to master yesterday.

[2015-10-29 22:44] #118 closed

[2015-10-30 11:42] 5ak3t opened #119 "Reverse for 'registration_activate' not found"
I have the following settings -

`REGISTRATION_OPEN = True                # If True, users can register`

`ACCOUNT_ACTIVATION_DAYS = 7     # One-week activation window; you may, of course, use a different value.`

`REGISTRATION_AUTO_LOGIN = True  # If True, the user will be automatically logged in.`

`LOGIN_REDIRECT_URL = '/'  # The page you want users to arrive at after they successful log in`

`

[2015-11-03 04:37] alzearafat opened #120 "Custom User Registration Model?"
Hi,

I am a new kid on django/python and your application, so please bear with me :)
First, I want to thank you for this very useful application. Really helped me a lot :)

Now I'm trying to add custom User model fields to registration profile. Something like Facebook URL, Email, profile pic, etc...

How is the simplest way to do so?

Any enlightenment would be greatly appreciated.

Please excuse

[2015-11-03 14:19] dicato commented on #120
@alzearafat I actually went through this same design process. My first approach was to save the additional information on the `RegistrationProfile` model. After a bunch of iterations, I came to the realization that it makes far more sense to follow Django's guidance and create the equivalent of a `UserProfile` or `GroupProfile` model, foreign keyed back to `User` or `Group` accordingly, to save th

[2015-11-08 05:06] rylanchiu opened #122 "Fail to change the template of registration page"
I have put the registration folder on the root directory and create two files: registrationform.html and registrationcomplete.html but the outlooking still doesn't change.
Could you please help me solve this problem.

[2015-11-08 16:04] dicato commented on #122
Template names must match what is included in the package. See [this directory](https://github.com/macropin/django-registration/tree/332b38d4c4c8749bdab7b0c53906a13975d08fcc/registration/templates/registration).

The templates should be named `registration_complete.html` and `registration_form.html`.

[2015-11-08 16:39] rylanchiu commented on #122
Thank you very much! @dicato  But one more problems. Why I can still visit the register page after I log in ?

[2015-11-09 05:38] #122 closed

[2015-11-09 05:40] rylanchiu opened #123 "How to add avatar upload"
I want to enable the users to upload their avatars on the registration page, how can I do that?

[2015-11-09 06:07] rylanchiu commented on #18
@dicato Could you please explain more on your last approach? The registration just need username, email and password, but when do you require them to finish their profile? Thanks.

[2015-11-09 14:41] dicato commented on #122
You're welcome! :smile:

Nothing prevents an authenticated user from hitting the registration page. There is an open issue discussing this - https://github.com/macropin/django-registration/issues/96

[2015-11-09 14:43] dicato commented on #123
In my opinion, you want to save that type of information on a custom `UserProfile` model that has a one-to-one relationship with `User`.

For simplicity, keep registration separate from collecting that type of information. Upon registering and authenticating, you can present the user with a set of views to configure their profile.

[2015-11-09 14:44] #120 closed

[2015-11-09 14:46] dicato commented on #18
@rylanchiu I've tried to address your question in the issue you filed about collecting User provided images: #123

[2015-11-09 15:20] rylanchiu commented on #123
@dicato  Tons of thanks for you help and time. Have you tried django-avatar? If not, what tools do you use for the avatar management?

[2015-11-09 15:34] dicato commented on #123
I don't have a recommendation for managing avatars. Sorry! I would consider something like [Gravatar](https://en.gravatar.com/) if an external service is acceptable.

[2015-11-09 16:25] rylanchiu commented on #123
Thank you very much @dicato !

[2015-11-09 16:27] #123 closed

[2015-11-13 04:35] sefakilic commented on #66
Is this change included in version 1.2? I am using django-registration installed via pip and still getting RequestSite import error.

[2015-11-13 04:43] macropin commented on #66
Don't think so. Please try from git. We probably should push out 1.3 soon...

[2015-11-13 05:21] sefakilic commented on #66
Manual installation from git works just fine. Thanks!

[2015-11-13 16:24] stiig opened #124 "Add custom password reset form and etc"
Please, add to SETTINGS custom class for password reset form, password change form and offer. To be able to override form.

[2015-11-13 18:27] dicato commented on #124
Could you clarify what you are trying to do?

If you want to customize the template, you can override all of the packaged defaults [found here](https://github.com/macropin/django-registration/tree/332b38d4c4c8749bdab7b0c53906a13975d08fcc/registration/templates/registration).

[2015-11-14 12:29] stiig commented on #124
I need add placeholder to password reset form, password change form and other. I'm already override all template, but i can't override tag `<input>` on the form, than add placeholder `<input placeholder='Email'>`. I solve it is adding a route
[code]
But, i think it's "dirty" solution, not? Or it's right way - disabled INCLUDE_AUTH_URLS, and sets route manually with MyForm?

P.S. Sorry for my Engli

[2015-11-14 12:34] stiig commented on #124
But, if i have setting, e.g. `PASSWORD_RESET_FORM` i could set simplify in settings
[code]

[2015-11-16 15:23] dicato commented on #124
I think your solution is good enough. It is less custom code and less overriding of Django built in views and forms.

In my opinion, the `settings` approach you describe is more suited for addition to Django itself instead of this package.

[2015-11-23 20:00] alper opened #127 "Non-matching passwords are not passed back to form"
I'm working with django-registration-redux in a project and I'm noticing that if both passwords match, they are both reflected back to the user in cleaned_data (when there are other errors):

```{'password1': u'bla', 'password2': u'bla'```

but if they don't match then only password1 is sent back.

Both of those seem weird behaviour but it would be consistent to send both values back in both cases

[2015-11-24 15:00] srenatus opened #128 "Documentation issue regarding mismatching passwords"
In [docs/forms.rst](https://github.com/macropin/django-registration/blob/c3dd438a2c8a4b3225d9661a45ea5ef9833d3fd4/docs/forms.rst), it states:

However, the error is actually attached to `password2`, [e.g. see tests](https://github.com/macropin/django-registration/blob/c3dd438a2c8a4b3225d9661a45ea5ef9833d3fd4/registration/tests/forms.py#L48-L53)

[2015-12-02 21:15] GDAproj opened #130 "Problem with Django 1.9"
In git master with import RequestSite is all ok,but when installing django-registration-redux via pip i obtain version with code that incompatible with django 1.9 because import RequestSite from django.contrib.sites.models.

[2015-12-02 22:52] dicato commented on #130
We need to make a new release and publish it to PyPI.

[2015-12-02 23:01] macropin commented on #130
@dicato Are you able to coordinate the release? If you let me know when it's tagged and I'll push to PyPi.

[2015-12-03 15:51] dicato opened #131 "Prepare for 1.3 release"
**This is a work in progress...**

## todo

* [x] update `CHANGELOG`
* [x] update version number to `1.3`
* [x] merge #94

[2015-12-03 15:55] dicato commented on #130
I'd certainly like to help. Time during December is a bit of a challenge! @macropin I've filed an issue for us to discuss a 1.3 release. #131

@GDAproj please install from source for the time being. I'm going to close this issue.

[2015-12-03 15:55] #130 closed

[2015-12-07 17:42] nnamdiee opened #132 "RequestSite issue in admin.py and default/views.py"
Just a heads up - (if not already fixed) but RequestSite is no longer in django.contrib.sites.models but is in django.contrib.sites.requests. I found that when I installed django-registration-redux, those old import statements are still there and I had to change them. If they are not changed, django throws import errors.

Thanks,
@nnamdiee

[2015-12-07 18:13] dicato commented on #132
Thanks! This is fixed in master via this commit: https://github.com/macropin/django-registration/commit/7fa127f6e6669c0e8552954487f7bf884ddc44ef

[2015-12-07 18:23] nnamdiee commented on #132
Great, thanks!

[2015-12-07 18:48] bmeyer71 commented on #132
I'm not seeing those changes when viewing that file on the master branch either in my local copy or viewing it on GitHub.

[2015-12-07 19:50] dicato commented on #132
@bmeyer71 good catch! Reopening the issue.  @nnamdiee or @bmeyer71 please open a pull request with the fix if possible!

[2015-12-07 21:32] bmeyer71 commented on #132
@dicato You do have the fix in the commit you posted above as far as I can tell. The issue is that @jamesturk removed those as compatibility changes in commits he did on Oct. 27th. Maybe he can comment on this further.

[2015-12-07 23:28] jamesturk commented on #132
the line linked above was in the removed compat code & dropped when 1.7 was dropped, it should still be fixed on master as seen here:

https://github.com/macropin/django-registration/blob/d217ba8ee8bd06b770a94660c752ad456878aadb/registration/admin.py#L3

[2015-12-10 16:28] bmeyer71 commented on #132
thanks @jamesturk
@dicato I did some further checks on my project and this doesn't seem to be coming up any longer. I get a warning about "class django.contrib.sites.models.Site" and not in INSTALLED_APPS etc. and will be removed in Django 1.9, but I will look at that further as it is separate from this. Unless @nnamdiee is still having trouble, it looks like this can be closed again.

[2015-12-11 15:13] areski commented on #131
I would love to use it with Django1.9, we need a release :) let me know if you need help

[2015-12-11 15:20] dicato commented on #131
@areski I'd love help. Here's a couple tasks that I think need to be done before a new release:

* [ ] review and test #94
* [ ] review and test #113
* [ ] review and test #115

Those three have passing tests and have not dropped test coverage. The remaining open pull requests either are work in progress or have dropped test coverage a bit.

I'd also love help with updating the `CHANGELOG` as it's

[2015-12-11 15:29] vchrisb commented on #132
I'm getting the same import error.
Look at https://github.com/macropin/django-registration/blob/master/registration/admin.py#L3 as @jamesturk mentioned

[2015-12-11 18:38] nnamdiee commented on #132
I'll do a quick check just to see if I'm getting this error free. @bmeyer71

[2015-12-14 04:52] awbacker commented on #132
I don't get this in the latest (1.3a0), only in 1.2.  However, the main site still says django 1.7/8/9 compatible, which it isn't.  I'd love to stop installing this from git directly, any idea on when it will be actually released?

[2015-12-14 05:00] macropin commented on #132
@awbacker we'd be happy to accept assistance with #131

[2015-12-14 05:05] awbacker commented on #132
@macropin I looked at that and was wondering.  Is there a particular sub-issue?

[2015-12-14 13:45] ngodoy opened #135 "¿django 1.9 ?"
django-registration is working for django 1.9¿?
I think the configuration file is missing the apps

[code]

[2015-12-14 13:51] dicato commented on #132
@awbacker you aren't seeing this issue when installing from the latest commit in git? If so, I'm going to close this issue :smile: #94, #113, #115 are three PRs I'd love to see merged before we create a 1.3 release.

[2015-12-16 19:39] khlumzeemee commented on #135
Same problem, I couldn't get it to work with Django 1.9, I have the following error:
[code]

[2015-12-16 19:54] dicato commented on #135
This issue is being discussed here https://github.com/macropin/django-registration/issues/132 and fixing in master.

[2015-12-16 19:54] #135 closed

[2015-12-18 15:01] areski commented on #131
I cannot really test #94 but I tested #113 (added comment) and #115 (I added a extra commit), you can see https://github.com/macropin/django-registration/pull/137.

I think #113 & #115 can be merged without fear.

Cheers!

[2015-12-18 16:45] ckcnik opened #138 "Old version package in pypi"
https://pypi.python.org/pypi/django-registration-redux/

I am execute comand: pip install -v django-registration-redux

I get an answer:
Collecting django-registration-redux
  Getting page https://pypi.python.org/simple/django-registration-redux/
  Starting new HTTPS connection (1): pypi.python.org
  "GET /simple/django-registration-redux/ HTTP/1.1" 200 255
  1 location(s) to search for versions o

[2015-12-18 18:46] dicato commented on #138
We are working towards a 1.3 release. See here: https://github.com/macropin/django-registration/issues/131

[2015-12-18 18:46] #138 closed

[2015-12-25 18:32] rajan-github opened #139 "how to fix RequestSite issue."
RequestSite is no longer in django.contrib.sites.models but is in django.contrib.sites.requests. I found that when I installed django-registration-redux, those old import statements are still there. So it raises ImportError. So how to fix it? How to replace "RequestSite" in the admin.py? please help

[2015-12-26 15:06] dicato commented on #139
@rajan-github please install from source for now. That issue is fixed in the master branch but not in an official release yet. You can also see the prior conversation in #132

Thanks

[2015-12-26 15:06] #139 closed

[2016-01-07 15:34] mcrowson commented on #132
When will we see 1.3? We really need this issue addressed. The way our promotions and testing happens we need Pypi version to include this fix.

[2016-01-07 16:01] dicato commented on #132
@mcrowson hopefully soon. You can track progress and conversation in #131.

Closing this issue. It is addressed in master currently.

[2016-01-07 16:01] #132 closed

[2016-01-07 16:21] dicato commented on #131
Hopefully @mick-t can rebase and comment about #94 and confirm that it still works.

This is getting closer :smile:

[2016-01-07 16:24] areski commented on #131
I'm actually curious if #94 is a popular issue? maybe we should consider a release without it, well maybe let give it a couple of day and see

[2016-01-07 16:26] dicato commented on #131
@areski I agree with your sentiment. I suspect south is "mostly unused" with this package. I'm slightly concerned that broken migrations landed in master and might bite someone however.

[2016-01-08 17:00] mcrowson commented on #131
In the docs it says that Django 1.7 or newer is required. It looks like #94 deals with <1.7. As this release will fix 1.9 for us, I would love a release sooner than later without #94.

[2016-01-10 17:35] bmsleight opened #140 "NoReverseMatch at /accounts/password/reset/"
NoReverseMatch at /accounts/password/reset/

Reverse for 'password_reset_confirm' with arguments '()' and keyword arguments '{'token': '4BLAH-blah-BLAH5', 'uidb64': b'OA'}' not found. 0 pattern(s) tried: []

Had to follow the instruction here -
http://stackoverflow.com/questions/23750138/django-django-registration-password-reset-error

[2016-01-11 15:27] dicato commented on #140
Could you provide your urls before and after your fix for this?

[2016-01-12 20:58] bmsleight commented on #140
Before: https://raw.githubusercontent.com/bmsleight/nonilnil/9542f01d551909392b69963573610ff700c631d4/nonilnil/urls.py

After: https://raw.githubusercontent.com/bmsleight/nonilnil/f0262259870071c18a68f54b4ec1a561a1e7eece/nonilnil/urls.py

After fixed it.

Thanks,
Brendan

[2016-01-12 22:33] macropin commented on #131
I think there are some missed references in the rst docs. @dicato are you able to fix these up and add to #142?

[2016-01-12 22:37] dicato commented on #131
@macropin I pushed another commit that fixed the obvious references to `1.2`. If there is anything else please let me know.

[2016-01-12 22:40] macropin commented on #131
@dicato `docs/upgrade.rst` needs updating too.

[2016-01-12 23:35] dicato commented on #131
@macropin I pushed another commit. I am unsure if there are any backwards incompatibilities since the 1.2 release.

[2016-01-13 00:33] macropin commented on #131
@dicato It now requires Django > 1.7

[2016-01-13 01:07] #131 closed

[2016-01-13 01:19] macropin commented on #89
Can you please let me know if / where conflicts exist. I've updated the github releases to refer to the changelog.

[2016-01-13 01:23] macropin commented on #37
v1.3 release has been made to PyPi. Thanks to all those that helped.

[2016-01-13 01:24] macropin commented on #131
v1.3 release has been made to PyPi. Thanks to all those that helped.

[2016-01-13 12:26] dicato commented on #131
:+1: thanks!

[2016-01-13 12:33] areski commented on #131
Indeed a big thanks for that :)

[2016-01-13 15:26] mick-t commented on #131
I can still rebase if you like? Sorry for the late reply, I was out of internet range for a few weeks. :)

[2016-01-15 01:54] dicato commented on #60
Fixed by #74

[2016-01-15 01:54] #60 closed

[2016-01-15 01:55] dicato commented on #63
Fixed by https://github.com/macropin/django-registration/commit/e09500507742c781b7f77335a5db93e51693a3d6

[2016-01-15 01:55] #63 closed

[2016-01-15 01:59] dicato commented on #71
In my opinion, this is outside the scope of this Django application. Fortunately, this is [already supported](http://django-allauth.readthedocs.org/en/latest/configuration.html) by [django-allauth](http://www.intenct.nl/projects/django-allauth/).

[2016-01-15 01:59] #71 closed

[2016-01-15 01:59] dicato commented on #88
@seddonym is this still valid on the latest release?

[2016-01-15 02:02] dicato commented on #93
Revisiting this, I no longer believe this should be added to this project. This functionality already exists in django-allauth.

Multiple users have told me they specifically like this application because of it's simplicity. I'm going to close this issue.

[2016-01-15 02:02] #93 closed

[2016-01-15 02:04] dicato commented on #77
@FroggyRiseman are you still having this issue?

[2016-01-15 02:06] #77 closed

[2016-01-15 02:07] dicato commented on #119
@5ak3t is this still valid?

[2016-01-15 02:10] dicato commented on #75
I believe this has been fixed in master.

[2016-01-15 02:10] #75 closed

[2016-01-15 02:11] #124 closed

[2016-01-15 02:12] #116 closed

[2016-01-15 02:13] dicato commented on #114
@mhb11 is this still an issue? The latest release changes the models and logic related to activation and may help solve your problem.

I'm closing this and will re-open accordingly.

[2016-01-15 02:13] #114 closed

[2016-01-15 02:16] dicato commented on #95
I think this is better suited to be solved (if not already) in a third-parth authentication package, such as django-allauth.

[2016-01-15 11:50] seddonym commented on #88
@dicato I'm afraid I don't have time to check this for 1.3 at the moment, sorry!

[2016-01-15 13:08] dicato commented on #88
@seddonym not a problem. I'm going to close the issue. Please feel free to re-start the conversation.

[2016-01-15 13:08] #88 closed

[2016-01-15 18:20] #39 closed

[2016-01-27 20:51] alorence opened #146 "Request object missing when "Re-send e-mail" function is triggered from the admin"
In the admin, when the activation mail is re-sent to some users using the corresponding function, the 'request' object is not passed to the function (see https://github.com/macropin/django-registration/blob/master/registration/admin.py#L44).
Is it a normal behavior ? I don't know if passing the request object could be a security issue, but not having it lead to different rendering of the e-mail te

[2016-01-27 21:17] dicato commented on #146
I like your workaround. A properly deployed web application should handle the TLS redirection.

[2016-01-30 19:28] vvch opened #147 "django admin templates in password change/reset dialogs"
Official docs recommend to place `registration` app above `django.contrib.admin` to use custom templates in user registration dialogs. But in this case custom templates also replace built-in ones in admin password change/reset forms (e.g. at /admin/password_change/ url) which is not always appropriate.
Is there any official way to use built-in admin templates in admin password forms and custom one

[2016-01-31 17:52] dicato commented on #146
@alorence would you be willing to turn your work around into a pull request?

[2016-02-01 07:52] alorence commented on #146
Yes of course. I would prefer give the request object as a parameter for  `resend_activation_mail` from the `RegistrationAdmin` class, instead of just add a default filter to the template for that specific case. Do you agree?

[2016-02-01 14:36] dicato commented on #146
That sounds like a good approach!

[2016-02-06 10:33] alorence commented on #146
The pull request is now ok with unit tests, flake8 and coveralls checks. As a bonus, missing tests for admin commands have been added. Feel free to merge & close if your are ok with that work, or tell me if you would like I modify something.
Cheers

[2016-02-06 14:25] dicato commented on #146
Fantastic! Thank you very much for adding the additional tests and doing the cleanup.

[2016-02-08 00:18] #146 closed

[2016-02-19 05:16] joshblum opened #149 "Release version 1.4"
When will the next version be released? Version 1.3 has some frustrating problems with the variables of the `RegistrationView` since the signatures differ between the `views.RegistrationView` and `backends.default.views.RegistrationViews` classes. The code is also buggy (i.e. https://github.com/macropin/django-registration/blob/v1.3/registration/views.py#L45, which is missing the request variable

[2016-02-19 05:19] joshblum opened #150 "Possible bug: Incorrect function signatures"
The function signatures of the `RegistrationView` class differ throughout the codebase. This seems to be a problem for inheritance:

https://github.com/macropin/django-registration/blob/master/registration/views.py#L63
has `def register(self, request, form)`.
vs.
https://github.com/macropin/django-registration/blob/master/registration/backends/default/views.py#L60
https://github.com/macropin/djang

[2016-02-19 05:29] kellyzz opened #151 "Question: Where are the default files stored after pip install django-registration-redux"
After pip installed django-registration-redux, I need to modify the default forms.py file, but can not find it in directory, where are the default files stored? Thanks!

[2016-02-19 06:06] macropin commented on #149
You can help by sending us PR's with the bug fixes if they're not already fixed in master. That will help us get a release out sooner.

[2016-02-19 11:30] joshblum commented on #149
Great, I'll submit a PR for #150, are there things in particular that you guys are waiting for to release 1.4 that still need fixing?

[2016-02-19 14:12] dicato commented on #150
Thanks for reporting. I'm confident at one point in time that inconsistency was intentional.

My first thought is to standardize on: `register(self, form)`. `request` can always be referenced from `self.request` inside the method. This makes this code consistent with https://github.com/macropin/django-registration/pull/56 as well.

[2016-02-19 14:18] dicato commented on #151
@kellyzz you should generally avoid editing installed packages and code and instead inherit from them and add your own functionality.

Import the forms you want to change and subclass them. You can do this in your own custom backend. Hopefully the docs are helpful on this topic: [backends](https://django-registration-redux.readthedocs.org/en/latest/default-backend.html) and [default forms](https:/

[2016-02-19 14:18] #151 closed

[2016-02-19 14:20] dicato commented on #149
@joshblum nope, nothing in particular!

If we can get your three PRs reviewed and merged, I think we can push a 1.4 immediately after.

[2016-02-19 14:24] joshblum commented on #150
I agree, the PR in #153 conforms to this :)

[2016-02-19 14:25] joshblum commented on #149
Great! I'lll fix any comments as they come in, happy to help :)

[2016-02-19 14:25] #149 closed

[2016-02-20 19:27] #150 closed

[2016-02-24 00:52] macropin opened #156 "PyPi readme not formatted correctly."
Possibly related to PyPi RST parsing https://stackoverflow.com/questions/16367770/my-rst-readme-is-not-formatted-on-pypi-python-org

[2016-02-24 14:40] dicato commented on #156
I suspect it's related to these changes:
https://github.com/macropin/django-registration/commit/6d9fc0c2a1a4f92a325ba0e823e0fbbd650f639d and

[2016-02-26 13:45] dicato commented on #156
@joshblum do you have a moment to look at this?

[2016-03-06 22:53] joshblum opened #158 "Include url to resend activation email"
Is there a reason that an endpoint to resend the activation email doesn't exist already? It would be nice to have this so a user can hit an endpoint if they lost the email.

Essentially a wrapper around this function:
https://github.com/macropin/django-registration/blob/master/registration/admin.py#L44

If you guys think it would be good I don't mind implementing :)

[2016-03-06 23:16] joshblum opened #159 "Add title to activate.html"
Is there a reason this template doesn't have a title?

[2016-03-07 13:37] dicato commented on #159
No. I suspect it was overlooked in early development and never questioned.

[2016-03-07 13:43] dicato commented on #158
Would it be an authenticated or anonymous view (or both)?

I verified for my own knowledge that `resend_activation_key` creates a new key only if a corresponding profile with said email exists and has not already been activated or expired; so that's good - https://github.com/macropin/django-registration/blob/f25a0b63da92a49ed07d5be39eafa636a5562295/registration/models.py#L137

[2016-03-07 15:59] joshblum commented on #158
I think anon view since authenticated users shouldn't need to register again right?

[2016-03-07 17:08] joshblum commented on #158
@lydiagu here is the issue for reference

[2016-03-07 17:24] dicato commented on #158
@joshblum oh..yea you are right. I totally confused registered with "verified email" in my mind :see_no_evil:

[2016-03-13 15:33] #159 closed

[2016-03-25 05:52] aj07mm opened #162 "How to add group to a user"
Currently I couldn't find anything about assing a "group" to a user on the docs, how can this be done in the simples way possible? If not there should be a feature for that I think.

[2016-03-25 13:47] dicato commented on #162
This project currently does not support any features related to creating groups and moving users into groups. I'd recommend [django-organizations](https://www.djangopackages.com/packages/p/django-organizations/) for your use case.

Alternatively, I would recommend manually creating groups and moving users into them if you don't need an automated solution.

[2016-03-25 15:28] regiov opened #163 "No way to handle inactive users when activation key expired"
Hi,

Am I correct that there's no way without human intervention to handle inactive users that still wish to get activated when the activation key already expired?

I know it's fairly easy to provide means for users to resend an activation e-mail with a new activation key, but since expiration is based on user.date_joined, the activation procedure will always fail if it already expired.

Is there

[2016-03-25 17:17] regiov commented on #163
Please, disregard. It's probably better to simply delete expired users regularly anyway.

[2016-03-25 17:17] #163 closed

[2016-03-26 02:45] aj07mm opened #164 "How can I add more fields to the user form??"
Im freaking out on this, any help?

[2016-03-26 06:42] aj07mm opened #165 "In which file is preferable to update "success_url" and how to do it?"
- urls.py #project urls file

[code]

this doesn't seem to work

[2016-03-26 06:51] aj07mm commented on #165
[code]

[2016-03-26 15:24] dicato commented on #164
You can subclass the registration form you are using and add the fields you want. Checkout this discussion - https://github.com/macropin/django-registration/issues/73

If you want to pass additional data to the context, see this issue - https://github.com/macropin/django-registration/issues/91

Hopefully that helps.I'm closing the issue but feel free to ask more questions.

[2016-03-26 15:24] #164 closed

[2016-03-26 15:28] dicato commented on #165
`success_url` is a property on the `View`. You'll need to subclass the view to properly set `success_url`.

For example:

[code]

[2016-03-26 15:28] #165 closed

[2016-03-26 15:56] aj07mm commented on #73
@DrJackilD , from where `social` comes from on `urls.py`?

[2016-03-26 16:13] aj07mm commented on #164
Thanks @dicato! Really saved my life

[2016-03-26 17:29] aj07mm commented on #73
@DrJackilD , in fact what is need is this whole bunch of code:
without `register` nothing happen and redirect don't work, it throws an error

[code]

[2016-03-26 17:30] aj07mm commented on #73
and the autologin with this piece of code `REGISTRATION_AUTO_LOGIN` is not working

[2016-03-26 22:17] dicato commented on #164
You're welcome!

[2016-03-28 15:56] lydiagu commented on #140
I just ran into the same problem. Is there a reason that the url names in https://github.com/macropin/django-registration/blob/master/registration/auth_urls.py add a prefix of 'auth_' to the default django auth url names https://github.com/django/django/blob/master/django/contrib/auth/urls.py?

[2016-03-28 16:51] dicato commented on #140
Good question! I suspect the best historical justification comes from the FAQ:

https://django-registration-redux.readthedocs.org/en/latest/faq.html#configuration

If either of you have a clearer implementation and documentation please open a pull request!

[2016-03-30 08:09] den-is opened #167 "get_success_url() takes exactly 3 arguments (2 given)"
Trying substitute registration view with custom one for custom "success registration redirect url"
[code]
[code]
Running Django 1.8.11 and python 2.7.10
temporary substitued it with
[code]
Can't debug which objects/arguments are not passed and who passes (or should pass) them to this function

This is part of  [Tango with django](http://www.tangowithdjango.com/book17/chapters/login_redux.html) tut

[2016-03-30 13:31] dicato commented on #167
1.4 had a backward incompatible change that removed the (unnecessary) passing of `request` - see [here](https://github.com/macropin/django-registration/blob/24bf503cdbe4e97b7c1582d56305964a2ec45c50/CHANGELOG#L12).

I'd suggest discussing with the maintainers of the tangowithdjango book to update accordingly. https://github.com/leifos/tango_with_django_book

[2016-03-30 13:31] #167 closed

[2016-03-30 13:34] #162 closed

[2016-04-04 14:37] lucbran commented on #109
This is something I am also interested...any update?

[2016-04-04 14:43] lucbran opened #168 "Changing registration activation email"
Hi,
I need to make modifications to registration email sent automatically to the user, but the template txt doesnt show the complete email text (for example cannot find anywhere "You (or someone pretending to be you) have asked to register an account at example.com. If this wasn't you, please ignore this email and your address will be removed from our records. )
Someone can tell me where can I mid

[2016-04-04 14:56] dicato commented on #168
You can override the templates used to send those emails: https://django-registration-redux.readthedocs.org/en/latest/quickstart.html#templates

Specifically, you will want to override `registration/activation_email_subject.txt`, `registration/activation_email.txt`, and `registration/activation_email.html` if you are sending HTML emails.

[2016-04-04 14:56] #168 closed

[2016-04-04 18:09] lucbran commented on #168
Hello Stephen
thanks for your promt assistance!

[2016-04-04 18:51] dicato commented on #168
You're welcome!

[2016-04-04 18:58] lucbran commented on #168
I have a question:
I have installed Redux in my site (still on construction) and have seen templates for password change..
I havent found any link on where to set the password change…am I wrong’ thanks
Luca

[2016-04-13 05:31] ywang04 commented on #167
Thanks a lot. Removing "request" is to fix the same issue.

[2016-04-14 00:34] macropin opened #170 "Document simple form extension"
90% of the support emails I received are something like:

We should add a simple example to the docs.

[2016-04-20 20:03] joshblum opened #171 "Change account activation logic"
Right now the expiration date on a `RegistrationProfile` is determined by `user.date_joined`, however in our workflow we sometimes create users before they actually go through the registration flow. As an alternative would it be possible to add a field to `RegistrationProfile` so that the activation key time can be independent of the `user.date_joined`. Happy to submit a PR, just wanted to run the

[2016-04-20 20:31] dicato commented on #171
I don't see any obvious issues with the approach. You'll obviously need a schema migration. You'll probably need a data migration as well.

[2016-04-20 22:53] joshblum commented on #171
Hmm a simpler alternative could be to update the `user.date_joined` in `RegistrationProfile.create_inactive_user`, this is our temporary workaround. Thoughts?

[2016-04-25 09:06] JurajKavka opened #173 "Migrations issue"
Hello,

i have project where i'm using registration-redux with custom user model. I have problem that my migrations won't run in initial installation. I think, that `registration` migrations runs before `accounts` migrations and i'm getting

[code]

What is really strange for me is that i don't see `migrations` directory in `..../site-packages/registration/` directory. But if I comment out `regist

[2016-05-04 22:08] patroqueeet commented on #96
Dear,

what's the status here? Started missing that today :)

P

[2016-05-05 02:26] macropin commented on #96
@patroqueeet Happy to accept a PR that redirects to `settings.LOGIN_REDIRECT_URL`

[2016-05-06 06:23] kapilsdv opened #176 "Wrong status code returned on unsuccessful post request"
Hi,

I am submitting user sign in form and in both the cases of passing correct and incorrect credentials i am getting status code 200 in response, I think this is not the desired behavior, it should return 400 in case of sign in failure.

Please suggest.

[2016-05-07 14:52] edasaki opened #177 "What is the difference between this and ubernostrum's django-registration?"
Apologies for my naivete, but what is the difference between this django-registration-redux package and the django-registration package maintained by ubernostrum? Both seem to be consistently updated and support similar things. Are these just 2 forks of the original django-registration? Are there any major differences I should take into consideration?

[2016-05-11 07:50] patroqueeet commented on #96
You're still asking for another PR although my last one took more then 3 months?

[2016-05-30 21:20] dicato commented on #177
No need to apologize :smile:

I can guarantee others know more about the the history of the project, but I can give my own history of why I chose to use this version (and subsequently ended up helping maintain it).

In short, the original django-registration written by ubernostrum was abandoned (for lack of a better word). Since there was still interest in the package it was forked to this reposit

[2016-05-30 21:20] #177 closed

[2016-05-30 21:29] dicato commented on #176
This is a question for Django directly. Django chooses to return a 200 in this scenario. You can see the source code here: https://github.com/django/django/blob/92107522ed3568740ec7c3597db50b5c3a6e84d3/django/contrib/auth/views.py#L98

[2016-05-30 21:29] #176 closed

[2016-05-30 21:33] dicato commented on #173
I think to fix this issue your migration needs to depend on the initial migration in `django.contrib.auth`. You can hopefully test this pretty easily.

As this is not an issue with django-registration directly, I'm closing this issue but feel free to ask any followup.

[2016-05-30 21:33] #173 closed

[2016-05-31 00:03] dicato commented on #171
merged!

[2016-05-31 00:03] #171 closed

[2016-06-01 16:20] dicato commented on #170
We should sneak this in before the next release (1.5).

[2016-06-01 16:22] dicato commented on #156
Closing this issue. This will be fixed on PyPI when we push 1.5. :smile:

[2016-06-01 16:22] #156 closed

[2016-06-01 16:23] dicato commented on #140
@lydiagu and @bmsleight is there any work that needs to get done to address this issue?

[2016-06-01 16:25] dicato commented on #128
Closing. This was fixed and the issue was left open.

[2016-06-01 16:25] #128 closed

[2016-06-01 16:26] dicato commented on #89
There has been many small cleanups. Is this issue still a problem or should it be closed?

[2016-06-01 16:28] dicato commented on #99
@nehri97 and @ahammouda3 are either of you able to improve the documentation in a pull request? :smile:

[2016-06-01 16:28] dicato commented on #147
Closed as duplicate to #99.

[2016-06-01 16:28] #147 closed

[2016-06-01 23:22] fynn4coding opened #179 "ImportError on Heroku"
I have an issue when I deploy my app into heroku. The repo was succesfully deployed. But, when I open the app (my `DEBUG` still `TRUE`) it says `ImportError No module named forms` and it comes from `from registration.forms import RegistrationFormUniqueEmail` that I make a custom validator to that. I don't know what I have to do because when I import `RegistrationFormUniqueEmail` itself on heroku b

[2016-06-02 15:11] dicato commented on #179
Could you provide the full exception log?

[2016-06-04 08:44] aakashq opened #180 "API support"
Is it possible to integrate this with djangorestframwork?

[2016-06-04 14:44] dicato commented on #180
Integrate meaning register users over a RESTful API? Yes, that's possible; django-registration would provide the model (`RegistrationProfile`) and django-rest-framework would provide the `ViewSets`, routes, etc.

I'm a very big fan of django-allauth as a more complete, easier to adopt, and easier to maintain as a consumer solution for registration and managing Users in Django applications. I did a

[2016-06-05 10:16] #179 closed

[2016-06-05 13:07] joshblum commented on #119
@5ak3t any updates? If not we'll close the issue for now, feel free to reopen if you're still having any problems!

[2016-06-05 13:11] joshblum commented on #127
@alper  is this still an issue? From the current Django source: https://github.com/django/django/blob/master/django/contrib/auth/forms.py#L70 it doesn't seem like there is any special action to only send back one password. What version of django/django-registration-redux are you using?

[2016-06-05 13:13] joshblum commented on #109
@areski are you still interested in working on this?

[2016-06-05 13:17] joshblum commented on #95
@dicato @macropin should we close this for now? django-allauth seems to handle this issue: https://github.com/pennersr/django-allauth/blob/8dbd4dd00f7f66e4d2599410932f06c4d0f08b6f/allauth/account/adapter.py#L269

[2016-06-05 13:20] joshblum commented on #26
@sircco does the fix in https://github.com/macropin/django-registration/pull/54 solve your problem?

[2016-06-05 14:49] dicato commented on #127
Related (maybe duplicate) to #129

[2016-06-05 14:50] dicato commented on #95
Yes, I don't think we should add this to django-registration. It's a great example of essentially duplicating code from other popular projects.

[2016-06-05 14:50] #95 closed

[2016-06-05 15:08] dicato opened #181 "add migration steps and documentation to move to django-allauth"
[django-allauth](https://github.com/pennersr/django-allauth) provides a more comprehensive solution to User registration and authentication than this project. Given the complexity of integrating different registration, authentication (two-factor, social auth, etc) with User management it generally makes sense to adopt one complete solution instead of combining many disparate solutions.

Ideally, d

[2016-06-05 15:11] dicato opened #182 "discuss and document the future of django-registration"
The maintainers of this project have discussed its future and agree that, in general, django-allauth is a better solution to Django User registration for those looking to adopt something.

However, we do not intend to stop maintaining this project. Our current goal is to continue supporting bug fixes, security fixes, enhancements, and new work from contributors, but to strongly suggest new adopter

[2016-06-05 16:37] dicato opened #183 "how to handle email uniqueness"
Leftover from #161

Emails are not required to be unique by default. How should we handle email uniqueness when it comes to trying to resend an activation code?

[2016-06-05 17:14] areski commented on #109
@joshblum I didn't start anything in that area, but I would love to see a PR so if you want to take over and propose a patch please go ahead.

[2016-06-05 17:31] joshblum commented on #109
@areski I don't have time right now to submit a patch myself, but just wanted to see if the issue was current. Since the feature is pretty specific, I think ti would be best to close the issue for now and reopen if someone submits a PR.

[2016-06-06 08:31] sircco commented on #26
looking at code, i don't think that this does it unless i can  override this line on per case basis.
`  from_email = getattr(settings, 'REGISTRATION_DEFAULT_FROM_EMAIL', settings.DEFAULT_FROM_EMAIL)`

Our app is whitelabel, meaning that more than one domain can use it, register its own customers (and send registration emails)

[2016-06-06 14:31] dicato commented on #109
@joshblum I'd leave the issue open and slap the "help wanted" label on it since the feature request is still valid.

[2016-06-06 14:33] dicato commented on #26
@sircco the use case makes sense 👍

If you'd like to implement we are happy to review.

[2016-06-06 15:19] joshblum commented on #109
sounds good!

[2016-06-07 03:54] joshblum commented on #183
It seems bad to send an activation email to multiple users who have the same email. We could add a filter for inactive/valid reg keys and if there are still multiple objects just `return False` to be safe

[2016-06-07 03:56] joshblum commented on #158
closed by #161

[2016-06-07 03:56] #158 closed

[2016-06-07 04:11] joshblum commented on #26
strawman could be to allow `REGISTRATION_DEFAULT_FROM_EMAIL` to be a python dotted `path.to.function` which would point a function that take `site` as an argument and does custom logic to return the email? Thoughts?

[code]

[2016-06-07 04:14] joshblum commented on #26
(probably cleaner to have a separate settings variable `REGISTRATION_FROM_EMAIL_FUNCTION` but same idea)

[2016-06-07 10:56] sircco commented on #26
How about something like this, overriding default if variable not provided
during instantiation.
I didnt look too much at the code recently but here is some dummy code to
explain my idea.

class Registration(Object):
   def __init___(self, mail_from=None, .... ):
       self.mail_from, = mail_from or
settings.REGISTRATION_DEFAULT_FROM_EMAIL

On Tue, Jun 7, 2016 at 6:14 AM, Joshua Blum <notificatio

[2016-06-07 14:35] dicato commented on #183
I agree on handling the error scenario more specifically.

I suspect we should also add something to the documentation about only supporting unique email addresses.

[2016-06-07 14:42] dicato commented on #26
I think it's acceptable to use static configuration for this as well. You can use a dictionary to map emails to sites, just as an example.

[2016-06-08 12:14] maxcanada opened #186 "Using Two Factor authentication with registration module"
Hi,

I am not sure where to ask this, but I can't find anything on the internet.
Did any of you had to use a two factor authentication with the registration module ?
If yes, can you point me to some documentation or give me some info ?

Thanks a lot

[2016-06-08 13:31] dicato commented on #186
django-registration does not support two-factor. To the best of my knowledge, there is not a pluggable two-factor project that works with django-registration.

I'd strongly suggest looking at [django-allauth](https://github.com/pennersr/django-allauth) and [django-allauth-2fa](https://github.com/valberg/django-allauth-2fa). You may want to consider using [this fork of django-allauth-2fa](https://g

[2016-06-08 13:31] #186 closed

[2016-06-08 14:30] maxcanada commented on #186
Hi,

Thanks a lot for your answer !

I think I am going to go with [https://github.com/Bouke/django-two-factor-auth](https://github.com/Bouke/django-two-factor-auth)

They have a great example app and the code is provided in the examples folder.

One problem might be to migrate existent users registered with the registration module to the new system.
Any suggestion? :)

[2016-06-08 14:35] dicato commented on #186
Note the warning about being unmaintained and not "production ready" - [see here](https://github.com/Bouke/django-two-factor-auth/blob/9ec5b1de6e9e2fa12bbea0ad2d5ddb248a39a0e3/README.rst)!

----

I used to use that project with django-registration and it was one of the reasons why we migrated to django-allauth and django-allauth-2fa.

[2016-06-08 15:55] maxcanada commented on #186
Alright you got it ;) I am going to try allauth and allauth-2fa first!
Thanks for the help, I appreciate it. I'll post anything relevant in this thread.

[2016-06-08 16:55] dicato commented on #186
👍 Happy to help.

[2016-06-09 10:58] maxcanada commented on #186
Hey,

I got allauth up and running quite easily (no need to even migrate the users :)). But can't seem to install the allauth-2fa through the regular process.
`pip install django-allauth-2fa` gives me that error:

I tried by cloning the project and running setup.py install, it works, but then when I try to run the website it says :
No module named allauth_2fa

Do you have any idea ?
Thanks again f

[2016-06-09 13:26] dicato commented on #186
First, you may want to consider using this fork: https://github.com/percipient/django-allauth-2fa

(I work there. :smile:) We are working on getting the changes merged back. You can install it via:
[code]

[2016-06-09 15:21] dicato commented on #186
@maxcanada by the magic of the Internet, Percipient is now the official maintainer of django-allauth-2fa: https://github.com/percipient/django-allauth-2fa

[2016-06-09 15:48] maxcanada commented on #186
Haha thanks dicato,

I got it working using your link. However, I had to upgrade the django-otp module to 0.3.5 otherwise I was getting a "Apps aren't loaded yet" exception.

Thanks for the help, I'll test that out right away and let you know ;)

[2016-06-09 15:49] dicato commented on #186
👍

[2016-06-09 17:50] maxcanada commented on #186
Hey Dicato,

Everything ran quite smoothly. I set up all the pages and the process is quite clear.

A few questions though:
- Is it possible to have a system (maybe a decorator ?) to select the pages that are protected by the 2FA ? Are you planning to do that or should I try myself ?
- When I log in (having 2FA enabled), I land on the authenticate page. Which is normal. but then if I try to click

[2016-06-09 18:42] dicato commented on #186
@maxcanada I think it's safe to say those questions can be turned into issue on the allauth-2fa project! Feel free to open an issue there!  https://github.com/percipient/django-allauth-2fa

[2016-06-09 19:17] tclancy commented on #140
For 1.9 I needed to use @bmsleight's solution above to get this working. I see the historical justification but I'd say the Principle of Least Surprise would be to have them work out of the box with Django's url names. The problem for me as a dev is that I forget to test things like resetting my password so these don't blow up until someone else tries to use them and even then the error message do

[2016-06-09 19:22] dicato commented on #140
@tclancy I agree! From my perspective this is just waiting on someone to open a pull request with a solution. If you are interested, I'm happy to help review.

[2016-06-10 13:40] allo- opened #187 "Registration complete page incorrect when using the "simple" backend"
With the `simple` backend method, there is no confirmation e-mail, but the user is redirected to a page saying he should check his e-mails.

[2016-06-10 13:46] allo- opened #188 "Compile locales in setup.py"
You can use this snippet in ``setup.py`` to compile locales while installing:

    class install_lib(_install_lib):
        def run(self):
            from django.core.management.commands.compilemessages \
                import compile_messages
            os.chdir('registration')
            compile_messages(sys.stderr)
            os.chdir("..")

[2016-06-10 15:05] dicato commented on #188
@allo- are you interested in making this improvement into a pull request?

[2016-06-10 16:35] allo- commented on #188
Seems like some stuff changed, so there are two ways to compile the locales.
I am not sure if ``handle`` is the most elegant way, but it seems otherwise we need to implement code searching for the relevant files, like ``handles`` does.

[2016-06-10 16:40] allo- commented on #188
Updating this in another project for django 1.7+, i get

    django.core.management.base.CommandError: This script should be run from the Django Git checkout or your project or app tree, or with the settings module specified.

while it works in the django-registration virtualenv in the top folder of the source (without any django project created). Please check if this works for you as well or if y

[2016-06-10 16:42] allo- commented on #188
Oh, it works for django 1.9 but is broken for 1.8. They seem to change this part quite often.

[2016-06-11 18:33] maxcanada commented on #186
Will do, thanks!

[2016-06-14 15:18] timgraham opened #190 "Drop Django 1.7 support"
Django 1.7 is unsupported by the Django team. May we remove support for it? This will make it easier to add Django 1.10 support as well.

[2016-06-14 18:15] dicato commented on #190
That sounds good to me!

[2016-06-14 18:48] #190 closed

[2016-06-15 01:01] joshblum commented on #26
@sircco would a static configuration meet your use case?

[2016-06-15 05:14] sircco commented on #26
It will work for now. If we get so much traffic on our whitelabel site that we can't manage static setting we will think of something and submit code for review.

[2016-06-15 11:15] joshblum commented on #26
Great. Do you want to take a first stab at implementing this?
El El mié, jun 15, 2016 a las 01:14, Damir <notifications@github.com>
escribió:

[2016-06-18 13:41] joshblum opened #195 "Remove Django 1.7 from repo title"
@macropin you might be the only one with edit access :)

[2016-06-20 16:18] ThomasWaldmann commented on #182
If there was an easy, proven data migration path from this to the other, it might actually happen.

[2016-06-20 16:20] ThomasWaldmann opened #196 "django-registration: cleanup task deletes users?"
Does this also affect django-registration-redux?

https://twitter.com/ubernostrum/status/744789922280681473

[2016-06-20 17:01] dicato commented on #196
Here is the current code: https://github.com/macropin/django-registration/blob/fb8f7b68290cc4f90e2a97acf7346d381f0f3542/registration/models.py#L161

No, this does not affect this package.

[2016-06-20 17:01] #196 closed

[2016-06-20 17:03] ThomasWaldmann commented on #196
Thanks for the clarification!

[2016-06-20 17:06] dicato commented on #196
My pleasure. ubernostrum's package deviates quite a bit from the original django-registration (now django-registration-redux; confusing right? :smile:)

[2016-06-23 04:32] 5ak3t commented on #119
Please close it for now.

[2016-06-23 13:36] joshblum commented on #119
Thanks @5ak3t!

[2016-06-23 13:36] #119 closed

[2016-06-23 19:19] dicato opened #198 "update copyright ownership"
@macropin any idea what the copyright should be?

[2016-06-24 00:19] macropin commented on #198
I don't think this should have been merged.

I believe something such as the following would be appropriate given that we do not force contributors to assign copyright:

[code]

[2016-06-24 01:30] dicato commented on #198
@macropin I'll open a PR right now.

I merged it because I, potentially erroneously, assumed the current year was better than last year. My apologies.

[2016-06-24 14:17] #198 closed

[2016-06-28 01:16] joshblum commented on #127
Closing for now (assuming #129 fixed the problem)

[2016-06-28 01:16] #127 closed

[2016-07-05 16:09] joshblum opened #200 "Allow squash merging on master"
I think this feature is useful for landing large features to keep the git history clean

![screen shot 2016-07-05 at 12 09 19](https://cloud.githubusercontent.com/assets/1144020/16591311/533760e6-42a9-11e6-8756-8da58c8bd9b2.png)

[2016-07-05 16:16] dicato commented on #200
@joshblum what's your thought on rebasing prior to merging? It puts the task on the submitter, for better or worse.

[2016-07-05 16:19] joshblum commented on #200
I think GitHub allows you to click "update branch" and then you can merge
the rebased version
El El mar, jul 5, 2016 a las 12:16, Stephen DiCato <notifications@github.com>
escribió:

[2016-07-05 16:19] joshblum commented on #200
Also protecting the master branch is a good idea (on the same settings area)
El El mar, jul 5, 2016 a las 12:18, Josh Blum <jblum18@gmail.com> escribió:

[2016-07-08 11:03] JamieH opened #201 "Disable E-mail verification"
Thanks for the great library - is there an easy way to disable e-mail verification and just activate the user when they've registered?

Thanks,
Jamie

[2016-07-08 13:55] joshblum commented on #201
Hey @JamieH checkout the [`simple` backend](http://django-registration-redux.readthedocs.io/en/latest/simple-backend.html) this should solve your issue!

[2016-07-08 13:55] #201 closed

[2016-07-12 14:00] #188 closed

[2016-07-12 14:13] timgraham commented on #182
You could also point people back to the [original django-registration](https://github.com/ubernostrum/django-registration) which is maintained again.

[2016-07-12 14:33] dicato commented on #182
@timgraham do you have first hand experience with that package? I do not, so would not want to strongly recommend it like I do django-allauth.

[2016-07-12 14:37] timgraham commented on #182
It's the original project from which django-registration-redux was forked. James Bennett is a Django core developer, so I think it's trustable.

[2016-07-12 16:22] allo- commented on #188
If it's not to late, can you replace the commit with https://github.com/macropin/django-registration/commit/df4a36b22126736872e5a269d0514ec541917db5?
It does not only have a more concise commit message, but i also fixed my real name in the author field, which wasn't set.

[2016-07-13 16:11] timgraham commented on #200
We do squash merging on Django itself. For any pull requests that do use multiple commits and don't want squashing, we merge those [using the command line](https://docs.djangoproject.com/en/dev/internals/contributing/committing-code/#handling-pull-requests).

[2016-07-13 16:24] dicato commented on #200
👍 @macropin will have to configure this.

[2016-07-21 00:11] macropin commented on #200
It's already enabled.

[2016-07-21 14:09] #200 closed

[2016-07-21 14:58] joshblum commented on #200
Oh, can we disable merge commits then?

[2016-07-25 12:50] timgraham commented on #195
Also, add Django 1.10.

[2016-07-25 13:13] macropin commented on #195
Doneski

[2016-07-25 13:13] #195 closed

[2016-07-27 03:35] joshblum commented on #109
closed by #184

[2016-07-27 03:35] #109 closed

[2016-07-27 15:14] dicato opened #204 "Update CHANGELOG for 3-step workflow"
See #184

The changelog should be updated to reflect this new workflow.

[2016-08-04 20:30] yeago opened #206 "setup.py broke for new environments 23 days ago"
https://github.com/macropin/django-registration/commit/a1b31a087027502c0c989dfcbf658c617cb28f3c

importing django into setup.py is a piss-poor idea that will break CI environments using this package, to speak nothing of new installs.

[2016-08-04 20:41] dicato commented on #206
Good catch.

Are you interested in trying to fix the issue? For clarity, `setup.py` cannot and should not assume any package dependencies are installed. Compiling locales during installation will need to be rethought. Hopefully @allo- can weigh in as well.

[2016-08-04 20:45] yeago commented on #206
sorry, i looked and i don't really see any way to mitigate it given that setup is now subclassing a core lib. maybe some elaborate import scheme but I don't really think that would be compatible with the goal of the commit.

[2016-08-04 21:46] allo- commented on #206
What about

    HAS_DJANGO=True
    try:
        import django
    except ImportError:
        HAS_DJANGO=False
    [...]
    if HAS_DJANGO:
        # compile locales
    else:
        print "to compile locales during installation you need to have django installed before installing django-registration. Please run ./manage.py makemessages later"

[2016-08-04 21:49] allo- commented on #206
What is the flow of dependencies in setuptools? I guess it should somehow make sure the dependencies are installed before installing the package. Of course it needs to be able to import setup.py to read the dependencies, so there needs to be a conditional import. But maybe some routine later is allowed to import dependencies? That's again the question about the correct routine in setup.py, see htt

[2016-08-04 21:50] yeago commented on #206
maybe. what's the problem with just letting people do this as a management command and adding that to the installation instructions? in most scenarios nobody has any control over the order of things being installed so the message isn't very useful. what precedent (aka other libraries) is there for conducting this work in setup.py at all?

[2016-08-04 21:51] allo- commented on #206
Another question is, if a package is supposed to compile the locales? I think the user is supposed to run ``collectstatic`` from his project folder, maybe he should be required to run ``makemessages`` himself, if needed?

To provide binary packages, which work without compiling locales yourself, an new setup.py command "compile_locales" could be defined and called in the build process.

Another th

[2016-08-15 06:04] megavenik opened #208 "django-registration + ajax"
Hello!

Is there a way to register/login users with this module via ajax? I've looked for the information about it in docs and google, but found nothing unfortunately(

Thanks a lot!

[2016-08-15 13:46] dicato commented on #208
No, django-registration does not support this. However, Django does have [JsonResponse objects](https://docs.djangoproject.com/en/1.10/ref/request-response/#jsonresponse-objects) and there are a variety or other projects out there integrating Django with AJAX, Angular, and many other popular front end technologies and frameworks.

* here is a [wiki page](https://code.djangoproject.com/wiki/AJAX) o

[2016-08-15 13:46] #208 closed

[2016-08-15 15:36] megavenik commented on #208
Oh, I think, we have a small misunderstanding here. Sorry for not quite plain description of my situation.

Let me add more details. I'm not looking for an app that will help me add ajax-requests to django. I'm already using angular. And when I've tried to add user-pass registration to my project, using django-registration, I've discovered that all forms and methods accept POST requests with retur

[2016-08-15 15:38] dicato commented on #208
No.

However, you can write your own custom views that inherit from code in django-registration that pass JSON objects back instead of rendered HTML.

[2016-08-15 15:40] megavenik commented on #208
Ok, I see, thanks!

[2016-08-26 05:58] jholms opened #209 "First/last name on registration."
Is there a way to add this to the registration form? Was interested in the info, thanks.

[2016-08-26 14:55] dicato commented on #209
@jholms - this has been asked a couple times. Clearly we need better documentation on the topic!

Please see https://github.com/macropin/django-registration/issues/73

You need to create a custom form with the additional fields.

[2016-08-26 14:55] #209 closed

[2016-08-26 14:55] dicato opened #210 "Add documentation on adding additional fields to registration forms"
This has been asked a couple times. #73 and #209

We should add some docs on the topic.

[2016-08-27 01:44] jholms commented on #73
I am getting an error.

fields = (UsernameField(), "email", 'first_name', 'last_name', NameError: name 'UsernameField' is not defined

What do I need to do to rectify?

It wouldn't let me comment.

[2016-08-27 14:47] dicato commented on #73
@jholms `UsernameField` is not a standard field. If you are inheriting from the right base class form you should not define `username` as a field.

[2016-09-06 04:35] jholms opened #211 "Redirect after activation complete."
I was wondering if there is an easy way to redirect to the login page after successful activation. I tried to override the ActivationView with no success.

class MyActivationView(ActivationView):
    def get_success_url(self, user):
        return 'registration/login.html'

url(r'^accounts/activate/complete$',ActivationView.as_view(),name='registration_activate'),

The register one worked fine, It

[2016-09-07 17:40] alzearafat opened #212 "Documentation needed: overriding templates"
Hi there!

How I can override the default templates? Where I should put it?

Great plugin btw!

Thank you in advance for any help you can provide

[2016-09-07 19:38] dicato commented on #212
You need to place your custom templates inside your template directory under a `registration` directory. For example, `registration/activation_email_subject.txt`. You can override any of the templates found in this directory:

https://github.com/macropin/django-registration/tree/master/registration/templates/registration

I thought this was documented, but apparently not!

[2016-09-08 03:36] alzearafat commented on #212
Hi @dicato , thank you for fast response!

I found a way to solve my issue, I don't know if it's the best way or not (Maybe you can confirm this?), but at least it works for me.

I made new directory called `templates` inside my app, and add this setting is `settings.py`:

[code]

And then I just copy and paste registration directory, to app_guide/templates. So I can override it.

[2016-09-08 14:05] jholms commented on #211
Any update on this? Would be appreciated.

[2016-09-08 14:24] dicato commented on #211
@jholms your approach looks correct. I suspect you forgot to import your custom view in your `urls.py` and update the url to use `MyActivationView` instead of the default.

[2016-09-09 04:32] keattang opened #213 "create_new_activation_key is insecure"
It uses the python `random.random` which is not cryptographically secure and also unnecessarily uses the user's ID in the hash which makes it possible (although improbable) for the same key to be generated for a different user if their IDs overlap. For example, a user is created with an ID, then at some point deleted and a new user is created with the same ID.

I suggest using an algorithm that us

[2016-09-09 15:13] dicato commented on #213
We would be happy to accept a pull request to address this issue!

Changing `random.random` to `os.urandom` is a good approach! I don't see any reason why this change would have backwards incompatible side effects, but please think through that as well. Thanks!

[2016-09-12 14:00] #213 closed

[2016-09-13 13:50] #204 closed

[2016-09-18 02:59] martey commented on #89
I think the only remaining problem is that backward-incompatible changes are listed in both the changelog and the "upgrade guide" in the documentation. Even if the two documents both include the same information now, there is no guarantee that they will not accidentally become out of sync in the future.

I think the upgrade guide has outlived its usefulness (since django-registration-redux now inc

[2016-09-18 13:37] dicato commented on #89
@martey please do!

[2016-09-24 13:09] CleitonDeLima opened #217 "settings REGISTRATION_EMAIL_HTML to reset password mail too"
My solution to send email in html:

[code]

Today there is a better solution?

[2016-10-06 20:54] alexeyshal opened #219 "UnicodeEncodeError in django-registration"
deleted

[2016-10-06 20:58] #219 closed

[2016-10-07 12:16] dicato commented on #217
That's probably the best way to do it at the moment. Please remember that password reset is provided by Django in `django.contrib.auth.views` and the URLs are imported as `auth_urls` in this package: https://github.com/macropin/django-registration/blob/master/registration/auth_urls.py

[2016-10-07 12:16] #217 closed

[2016-10-07 12:17] dicato commented on #211
@jholms did you get this fixed? I'm going to close the issue since no action is required on the part of the package maintainers but feel free to continue the conversation.

[2016-10-07 12:17] #211 closed

[2016-10-12 17:45] maciej-kisiel commented on #140
Wouldn't it be a better idea to just add a modified `password_reset_email.html` containing a correct name to reverse? As it was done for example with `login.html`?

[2016-10-12 18:19] maciej-kisiel commented on #140
It seems that putting `registration` over `django.contrib.admin` in `INSTALLED_APPS` solves this issue because templates connected to password resetting are in this app.

[2016-10-14 10:28] jayache80 commented on #140
@maciej-kisiel Thanks, this helped me out.

[2016-10-27 21:58] Jakub41 opened #220 "Error include is not defined"
Hello,
when I'm trying to setup the registration I'm getting an error here:
(r'^accounts/', include('registration.backends.default.urls')),
Undefined reference include.
I have no idea why of that.
Can you help me please?
I'm using Pycharm and under my packages redux is installed.
Thank you

[2016-10-28 00:14] joshblum commented on #220
Hey @Jakub41 it sounds like you didn't import the `include` function in your file. Try adding this line to the top of file:

`from django.conf.urls import include`

Let me know if you have any other issues!

[2016-10-28 13:50] Jakub41 commented on #220
Hey @joshblum  I will try your suggestion and back to you.
Thank you :)

[2016-10-28 16:55] Jakub41 commented on #220
Hi @joshblum I resolved the problem thank you :)

[2016-10-28 16:55] #220 closed

[2016-10-28 17:08] joshblum commented on #220
@Jakub41 no problem!

[2016-11-20 20:25] Insanityandme opened #222 "no module named registration.backends.hmac.urls (documentation)"
When setting up my urls.py through the quickstart guide on the latest django-registrations read the docs I stumbled upon this issue, isn't this a typo in the documentation?

Look:
The two urls.py that exists within the registration app are:
registration.backends.default.urls or
registration.backends.simple.urls

I assume that when configuring for HMAC you want the default one? In the documentation

[2016-11-20 21:37] #222 closed

[2017-01-02 17:57] felixSchl opened #225 "Integration with django post office"
Am I correct in assuming I'd have to fork and modify [models.py](https://github.com/macropin/django-registration/blob/5fdd9882e5a2bfb1249d8c16d8c6f771e2434a4d/registration/models.py#L26-L55) by hand or is there an less intrusive way to integrate with [django-post-office](https://github.com/ui/django-post_office)?

[2017-01-03 14:25] dicato commented on #225
@felixSchl Unfortunately I don't have any first hand experience. What does integrating with django-post-office entail?

[2017-01-03 15:42] felixSchl commented on #225
Essentially we'd need a way to override how mail is sent. This could be done either by letting the user bring a function or by adding direct support. I think the former would enable, but not  require the latter and is therefore preferred imo.

[2017-01-03 15:56] felixSchl commented on #225
It would probably be enough to somehow be able to alter the execution of this part of `send_email`: https://github.com/macropin/django-registration/blob/5fdd9882e5a2bfb1249d8c16d8c6f771e2434a4d/registration/models.py#L43-L55.

Here's an example from the post office docs on how to send email using post office:

[code]

I think it should pretty much be plug and play once we sort out a way to let use

[2017-01-03 16:02] dicato commented on #225
Interesting. This seems more appropriate to discuss on django-post-office. Does the project hook into [Django's email backends](https://docs.djangoproject.com/en/1.10/topics/email/#email-backends)?

[2017-01-03 16:12] felixSchl commented on #225
Sorry, there must have been a misunderstanding on my end because as you said it does integrate and choosing it as a backend does queue the e-mail as it should. I just tried it out and it all works magically. I must have got led astray by the rest of the docs doing `post_office` imports. Thank you for pointing this out to me :)

[2017-01-03 16:12] #225 closed

[2017-01-03 16:22] dicato commented on #225
😄 My pleasure! I'm happy you figured it out.

[2017-01-03 17:06] felixSchl opened #226 "New release (1.5?)"
I am wondering when you are planning on releasing the next version that includes the 3 step registration flow? The feature seems to have been in the code-base for quite some time now (~5 months), so I figured I'd ask here.

[2017-01-03 17:09] dicato commented on #226
Yes, we absolutely should. #206 needs to be addresses first. That's the only issue I see as a holdup.

[2017-01-03 19:38] felixSchl commented on #206
Would it be OK to simply compile the locales and commit to the repo, [considering that's how the django devs seem to do it](https://github.com/django/django/tree/master/django/contrib/flatpages/locale/af/LC_MESSAGES)?

[2017-01-03 19:55] dicato commented on #206
I'm certainly happy with doing it how Django does it.

[2017-01-03 21:38] allo- commented on #206
I opened the pull request, because (redundant) binary files in a version control system are kind of a bad smell. The django project may be doing this because they are using transifex, which manages this its own way. I do not know the details, but most projects with transfex do not want pull requests for .po files either, but you should use the web interface.

I think i started the pull request, wh

[2017-01-03 21:47] felixSchl commented on #206
Couldn't we just generate the files before creating a package using `setup.py bdist` rather than `sdist`? I am not too familiar with packaging for python, but that's a common way to package stuff under npm, for example, where we would compile from some alt js to js as a step before packaging. Seems like Makefile material to me.

[2017-01-04 15:31] dicato commented on #206
@allo- I agree that having compiled or binary files in the repo is, in general, bad practice.

@felixSchl, yes I think we could make it part of the release process.

[2017-01-24 10:20] G-Nick opened #227 "Jinja2 error during rendering email rendering"
Hi. I'm using Jinja2 template backend and I've got next error in send_activation_email method of RegistrationProfile model in registration/models.py in this line.

[code]

[code]

After looking through the stack trace I think the error occurs because of using RequestContext instead of passing request object inside render function. I've also found that this change is actually in the codebase, but c

[2017-01-24 14:12] dicato commented on #227
@G-Nick this project is clearly in need of a new release. There is not much to see but we are tracking the release in this issue and have one blocker that needs to get addressed prior - https://github.com/macropin/django-registration/issues/226.

It's a workaround, but you can install directly from source if you so desire. For example, if you want to install the latest commit on master, you can ru

[2017-01-24 14:15] #227 closed

[2017-01-25 07:24] jakefb opened #230 "Account activation issue"
When I click the activation link in the email I get this error

    'module' object has no attribute 'parse'

[2017-01-25 14:55] dicato commented on #230
@jakefb could you provide the full traceback?

[2017-01-25 19:06] DDiran opened #231 "Registration issue on Django 1.10"
I have been trying to get this to work, have followed documentation however I am getting the following error: (python v3.5)
[code]

[2017-01-25 19:12] #231 closed

[2017-01-25 22:49] jakefb commented on #230
Hi @dicato sorry this issue was caused by a template tag I'm using for gravatar profile images. The problem was that urllib.parse doesn't work with python 2.7. I'll close this issue!

[2017-01-25 22:49] #230 closed

[2017-01-27 14:43] xicopetry opened #232 "The right way to know if the profile is expired is to look at date_joined?"
Hello!
First I'll like to thank you guys for the support for this really helpful app!

So, my question is this:
Lets say if a user that already have a Login go to my site and he decides to change his email. So, in my point of view, it is needed to resend an activation email again, to verify if this email is valid.
So, I set the user to inactive (user.is_active=False) and call the resend_activation

[2017-01-27 15:21] dicato commented on #232
@xicopetry good questions. :smile:

If you allow a user with a verified email to change their email, the common workflow is to verify the new email address but not necessarily make the user account inactive. This might not make sense for your application.

django-registration doesn't have any capabilities to help with email management and does not intend to. If you are looking for a more comprehen

[2017-01-27 15:21] #232 closed

[2017-02-01 19:17] brunoliveira8 commented on #73
@aj07mm I didn't add register() and it works. The @DrJackilD's code works fine for me.

[2017-02-03 16:18] #206 closed

[2017-02-09 15:14] felixSchl opened #233 "Log accounts being deleted in routine cleanup task"
We just lost about 10 valid accounts and are in the process of recovering them, unfortunately at this point I am guessing that it must have been django-registration's clean up task but there's no way of knowing for sure, the data is just gone. If it logged the accounts to be deleted before actual deletion, I could go back to be cron job's log file and check what happened and when.

[2017-02-09 15:42] dicato commented on #233
Are you calling the `cleanupregistration` management command via cron?

Looking at the [tests](https://github.com/macropin/django-registration/blob/37a881cdf11eb38e96a5b830201e238f96151936/registration/tests/models.py#L349) for the [delete_expired_users](https://github.com/macropin/django-registration/blob/37a881cdf11eb38e96a5b830201e238f96151936/registration/models.py#L201) method, it certainly c

[2017-02-09 15:47] felixSchl commented on #233
Yes, calling it via cron and piping the output to a file, but there's no output.

I'd say the core issue here is the lack of overview of what's happening. If it was django registration, the only thing I can think of are timezone issues or something like that. I will spend time looking into this further after I recovered the accounts properly.

[2017-02-09 15:52] dicato commented on #233
@felixSchl I can appreciate the frustration here and desire to figure out the problem. The lack of comprehensive tests for this is disappointing and something that should clearly be fixed.

[2017-02-15 17:33] pando85 opened #234 "Username case insensitive check"
I read that this feature was implemented in v0.5 but I'm testing v1.4 with Django 1.10 and It isn't working.
Any ideas?

[2017-02-15 21:40] pando85 commented on #234
Could #235 help?

[2017-02-24 16:31] theparadoxer02 opened #238 "No Docs for removing some default URLs"
I want to remove some of the URL predefined in this registration library and use all its other feature , so how one can do that .
Lets suppose I want to delete the 'account/register' link and will do it manually . Then There is no option and and docs defined to remove that particular or custom URL .
There should be some custom **URL remove option**.

[2017-03-02 12:43] yakupadakli commented on #187
https://github.com/macropin/django-registration/pull/239

[2017-03-02 12:48] allo- commented on #187
Looks good. I think the option where to redirect should be added to documentation, then the bug can be closed.

[2017-03-03 09:14] macropin commented on #238
There are a few ways to do this: You could write your own backend, complete with custom `urls.py` or you could use one of the supplied backends with your own url definition.

[2017-03-03 12:09] theparadoxer02 commented on #238
if i am following the second way , then how do i fullly remove the url  so that no one can access it ?

[2017-03-07 09:30] shepelevstas commented on #119
cant get {% url 'registration_activate' %} part to work in activation_email.txt
is there a solution?

[2017-03-14 08:24] felixSchl commented on #233
I just noticed something else, i think [this](https://github.com/macropin/django-registration/blob/master/registration/models.py#L243) should read:

[code]

[2017-03-14 16:07] dicato commented on #233
@felixSchl you are probably right regarding that condition, since it's clearer. However the logic currently uses `if not user.is_active:` so it doesn't seem like a bug.

[2017-03-14 16:08] felixSchl commented on #233
But `user.is_active` is something that could change irrespective of initial successful registration, right? For example when temporarily suspending an account.

[2017-03-14 16:11] dicato commented on #233
Great point! Yes, I can absolutely see that use case causing inactive accounts being deleted erroneously.

We should:

1) fix the logic to use `if profile.activation_key_expired() and not profile.activated:`
2) add/improve the unit tests for this
3) add logging to the management command that uses this code

[2017-03-17 20:21] delano opened #240 "Default ActivationView doesn't check whether user is already activated"
In the [default ActivationView](https://github.com/macropin/django-registration/blob/v1.4/registration/backends/default/views.py#L119-L138), the call to `RegistrationProfile.activate_user` returns the `User` object when the user is first activated but also if the user is already activated. So in the view, there's no way for it to know whether it's the initial activation.

[code]

This leads to two

[2017-03-17 23:11] dicato commented on #240
@delano thanks for filing this! Are you interested in trying to improve this?

I'll take a look through the code to refresh my memory before making any suggestions.

[2017-03-23 16:53] delano commented on #240
@dicato Yeah I can push a fix, no problem. Maybe tomorrow but within the next week for sure.

[2017-03-24 04:10] repodevs opened #241 "TemplateDoesNotExist at /accounts/login/ base.html"
Hi,
I tried install `django-registration-redux` with `django==1.10.4` & `python 3.5` but I got an error

![screenshot at 2017-03-24 11-03-45](https://cloud.githubusercontent.com/assets/13567128/24280286/f5c892f2-1081-11e7-8529-c9360249cb5b.png)

![screenshot at 2017-03-24 11-06-10](https://cloud.githubusercontent.com/assets/13567128/24280289/07da2730-1082-11e7-9a8e-5823d63a8917.png)

My configurat

[2017-04-04 23:21] Fingel commented on #226
Django 1.11 is out and is now incompatible with django-registration-redux. This was fixed in https://github.com/macropin/django-registration/pull/194

[2017-04-06 00:02] joshblum commented on #240
@delano are you still interested in working on this?

[2017-04-06 00:04] joshblum commented on #119
@5ak3t were you able to find a workaround?

[2017-04-06 00:26] shepelevstas commented on #119
had to construct it:
http://{{site}}/accounts/activate/{{activation_key}}

[2017-04-06 00:27] joshblum commented on #119
@shepelevstas how did you include the urls? perhaps that's why the reverse failed?

[2017-04-06 00:32] shepelevstas commented on #119
url(r'^accounts/register/$',
        RegistrationView.as_view(form_class=UserRegistrationForm),
        name="registration_register",
        ),
    url(r'^accounts/activate/(?P<activation_key>[-:\w]+)/$',
        ActivationView.as_view(),
        name='registration_activate'),
    url(r'^accounts/', include('registration.backends.hmac.urls')),

[2017-04-06 00:33] shepelevstas commented on #119
sorry, don't know how to format text to code here

[2017-04-06 00:49] joshblum commented on #241
@repodevs I think you issue is that you don't have a `base.html` in your project. Checkout these docs: http://django-registration-redux.readthedocs.io/en/latest/quickstart.html#templates Will close for now but reopen if you're having issues :)

[2017-04-06 00:49] #241 closed

[2017-04-06 00:51] joshblum commented on #226
@Fingel we're working on a release and it will be on pypi soon!

[2017-04-06 00:53] joshblum commented on #119
https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet for formatting :)

also i think that you're using the [django-registration](https://github.com/ubernostrum/django-registration/) project since you have `url(r'^accounts/', include('registration.backends.hmac.urls')),` and not this one (django-registration-redux). You should open the issue there if they have a bug!

[2017-04-06 00:56] joshblum commented on #238
@theparadoxer02 instead of including the (default urls)[http://django-registration-redux.readthedocs.io/en/latest/quickstart.html#setting-up-urls]

`(r'^accounts/', include('registration.backends.default.urls')),`
 you can only add the ones you one available by picking and choosing from the included file.

[2017-04-06 00:56] #238 closed

[2017-04-06 01:04] joshblum commented on #233
@felixSchl are you able to submit a patch to fix this?

[2017-04-06 01:04] shepelevstas commented on #119
Wow! That's a facepalm )))))))))) Thanks!:)

[2017-04-06 01:07] joshblum commented on #180
Closing this issue for now in favor of migration to django-allauth

[2017-04-06 01:07] #180 closed

[2017-04-06 01:08] joshblum commented on #89
@martey are you still interested in working on this?

[2017-04-06 01:10] joshblum commented on #187
closed by #239

[2017-04-06 01:10] #187 closed

[2017-04-06 15:22] joshblum commented on #226
Just released! https://pypi.python.org/pypi/django-registration-redux/1.5

[2017-04-06 15:22] #226 closed

[2017-04-06 15:37] Fingel commented on #226
@joshblum Congrats! Thanks for the great work.

[2017-04-07 17:52] odinho opened #247 "Can't find 1.5 on pypi"
It doesn't seem to work with Python 2.7:

[code]
Though the PyPi page says it will work with both 2 and 3: https://pypi.python.org/pypi/django-registration-redux

The only wheel which is there is the one for Py3 though, not a `py2.py3` package.

Could the package be updated to also allow Py2 if it works?

[2017-04-07 18:38] delano commented on #240
Yeah sorry for the delay!

[2017-04-08 12:30] dicato commented on #247
@odinho I just pushed a Python wheel for Python 2. Can you please let me know if installs work for you again?

Thanks!

[2017-04-08 15:45] odinho commented on #247
@dicato Hi, it works now, thanks! :)

[2017-04-08 15:45] #247 closed

[2017-04-08 19:47] dicato commented on #247
👍

[2017-04-09 18:27] delano commented on #240
@joshblum There are a couple options for this but nothing that doesn't change current expected functionality or isn't hacky. There is one option that isn't hacky but it requires a second hit to the DB.

* Have `RegistrationManager.activate_user` return a tuple (e.g. `(profile_user, True)`). This would be similar to Django's `get_or_create` method but would require updating every call this this met

[2017-04-10 14:07] joshblum commented on #234
@pando85 is the functionality you're describing implemented in #250 ?

[2017-04-10 14:26] pando85 commented on #234
@joshblum  No, I understand that's only make email case insensitive when recovering password.

I want a Django model user case insensitive.

I don't like `iexact` filter because it adds a lot complexity and queries can be very slow in big databases.

My solution was make username to lower case and I think email must do the same.

[2017-04-17 17:44] nagracks opened #252 "Add support for Django 1.11"
If I include urls with namespace
[code]
And use it like this in template
[code]

then it is not working in latest Django.

[2017-04-17 19:09] dicato commented on #252
What do you mean by not working? Is there an exception being thrown?

[2017-04-17 20:44] joshblum commented on #240
@dicato do you have any preferences between these options?

[2017-04-17 21:04] delano commented on #240
I don't have enough history with the project to give a definitive answer. It comes down to whether you are okay with a non-backwards compatible change to the current functionality.

If no, the least invasive option is (C), a second hit to the DB. If yes, the best option is (A), return a tuple. Note: if you follow semver, this would trigger a major version increment (i.e. 2.0).

[2017-04-17 21:09] joshblum commented on #240
@delano I'm also a newer contributor so don't know what option would be best, I'll defer to @dicato or @macropin

[2017-04-17 21:27] delano commented on #240
@joshblum Sounds good. Thanks for following up before btw to keep this moving.

[2017-04-18 02:29] nagracks commented on #252
Yes this exception
[code]

[2017-04-18 13:51] dicato commented on #240
Hey, I'll try and take a look soon, most likely this weekend. I need to refresh my memory on why the current behavior is the way it is. :smile:

That said, I'm 100% in support of backwards incompatibility when the changes:

* provide useful functionality
* are easier to maintain
* are an obvious improvement

...so with that, if you feel strongly in favor of one of your options, please consider mov

[2017-04-20 23:19] Cheltigmashev opened #253 "help_text for password1 field of form"
Hi! I don't know how but there is no help_text for password1 field anymore although several days before it was. Did somebody face this problem? I use django 1.10.6 and windows 7 64b.

[2017-04-21 13:30] Cheltigmashev commented on #253
I understood the reason. When I saw this help_text, I used django 1.11. I installed django 1.11 again and there is the help_text on this django version.

[2017-04-21 13:30] #253 closed

[2017-04-25 15:38] joshblum commented on #252
@nagracks my guess would be that it's because the `auth_urls` are not included with the namespace: https://github.com/macropin/django-registration/blob/master/registration/backends/default/urls.py#L61 can you confirm this is the issue?

[2017-04-25 15:44] timgraham commented on #252
I couldn't reproduce this crash.

[2017-04-25 22:47] joshblum commented on #234
closed by #251

[2017-04-25 22:47] #234 closed

[2017-05-02 04:01] alzearafat opened #256 "Enable "enforces email uniqueness""
Hi there!

The email is not unique by default, I can register multiple times with same email. How I can enable it? I cannot find the conf in the docs (or maybe I missed it?)

And how to login using email instead of username?

Any help would be greatly appreciated

Thank you!

[2017-05-02 18:16] dicato commented on #256
You need to use the appropriate registration form - [see here](http://django-registration-redux.readthedocs.io/en/latest/forms.html#registration.forms.RegistrationFormUniqueEmail)

django-registration-redux provides a set of utilities for registering users. It does not deal with authentication. You are going to either want to extend Django's authentication system manually or with an applicable pac

[2017-05-02 18:16] #256 closed

[2017-05-03 08:12] alzearafat commented on #256
Thanks @dicato !

[2017-05-03 14:01] dicato commented on #256
@alzearafat if you think the docs can be improved, please don't hesitate to suggest some changes in a PR. 👍

[2017-05-11 03:15] fchevitarese commented on #252
I'm having the same issue.
I've updated my project to Django 1.10.5, and now, /accounts/login or other any related url does not work and throw this error:

[code]

[2017-05-11 11:51] timgraham commented on #252
If you upgraded from 1.9 or earlier it might be related to this item in the 1.10 release notes: "The ability to reverse() URLs using a dotted Python path is removed." Does your URL pattern you are trying to reverse have a name?

[2017-05-11 11:56] fchevitarese commented on #252
They are like this:
[code]

[2017-05-11 11:57] timgraham commented on #252
It looks like you need to give `login` a name of `'django.contrib.auth.views.login'`.

[2017-05-11 12:00] fchevitarese commented on #252
It worked for login view, but registration urls are not found yet.

[2017-05-12 22:34] saadtaame opened #257 "Change look of forms"
Is there a way to change the look of registration forms ? Assign them CSS classes for example.

[2017-05-13 11:47] joshblum commented on #257
@saadtaame you can override the templates that we provide and add classes as necessary: http://django-registration-redux.readthedocs.io/en/latest/quickstart.html. If you want to edit the look/feel of the forms themselves some other projects that might be helpful are: https://github.com/django-crispy-forms/django-crispy-forms or https://github.com/kmike/django-widget-tweaks

[2017-05-14 14:19] #257 closed

[2017-05-15 08:53] typistX opened #258 "django-registration: login form not actually authenticating?"
I'm using a (compatible) Custom User model. The registering part of django-registration is working perfectly. However, when I take the user to the log-in page from a navbar, The user is never really authenticated. If I put in a wrong password it will correctly through and error, but when username and password are correct, the user is simply redirected to the correct page, just without getting auth

[2017-05-15 10:24] #258 closed

[2017-05-15 14:20] dicato commented on #258
Did you figure it out?

[2017-05-16 07:54] typistX commented on #258
Oh yeah. It was a problem with my ifblock in the template: there's no such condition 'user.authenticated'.

[2017-05-25 17:35] timgraham commented on #252
One more thing that could be done when closing this is to add 1.11 to the "django-registration (redux) now with Django 1.8/1.9/1.10" tag at the top of https://github.com/macropin/django-registration.

[2017-05-25 18:38] joshblum commented on #252
@timgraham agreed, only @macropin can change that currently so I'll let him edit and close this issue out.

[2017-05-27 13:51] Surgo opened #261 "Migrate failed when apply "0003_migrate_activatedstatus" on MySQL"
`1146, "Table 'default.registration_registrationprofile' doesn't exist` is occured.

Why table name is `default.registration_registrationprofile`?

[code]

[2017-05-30 17:28] YolandaTang opened #263 "ModuleNotFoundError: No module named 'django.contrib.sitesregistration'"
`Traceback (most recent call last):
  File "manage.py", line 15, in <module>
    execute_from_command_line(sys.argv)
  File "/Users/yolanda/django/django/core/management/__init__.py", line 354, in execute_from_command_line
    utility.execute()
  File "/Users/yolanda/django/django/core/management/__init__.py", line 330, in execute
    django.setup()
  File "/Users/yolanda/django/django/__init__.py

[2017-05-30 17:31] joshblum commented on #263
@YolandaTang from the error message I think you're missing a comma between the apps `django.contrib.sites` and `registration`. You can see an example here: https://github.com/macropin/django-registration/blob/master/test_app/settings.py#L14

[2017-05-30 17:35] YolandaTang commented on #263
@joshblum But I got an another error, ModuleNotFoundError: No module named 'django.core.urlresolvers'

[2017-05-30 17:38] YolandaTang commented on #263
@joshblum `File "/Users/yolanda/PycharmProjects/tango_with_django_project/tango_with_django_project/urls.py", line 25, in <module>
    url(r'^accounts/',include('registration.backends.default.urls')),
  File "/Users/yolanda/django/django/conf/urls/__init__.py", line 39, in include
    urlconf_module = import_module(urlconf_module)
  File "/Users/Yolanda/.pyenv/versions/3.6.0/lib/python3.6/importli

[2017-05-30 17:40] joshblum commented on #263
@YolandaTang what version of Django are you running?

[2017-05-30 17:41] YolandaTang commented on #263
@joshblum it's  2.0.dev20170318191452

[2017-05-30 17:43] joshblum commented on #263
This library doesn't support Django 2.0 yet, the module isn't found since it was removed in Django 2.0 https://docs.djangoproject.com/en/1.11/ref/urlresolvers/#module-django.urls

[2017-05-30 17:46] YolandaTang commented on #263
@joshblum  Well, thank you!

[2017-05-30 17:48] #263 closed

[2017-05-30 18:24] YolandaTang commented on #263
just open the registration folder and find auth_urls.py file and alter the line 'from django.core.urlresolvers import reverse_lazy' to 'from django.urls import reverse_lazy' and add 'on_delete=models.CASCADE' to the '('registrationprofile_ptr', models.OneToOneField(parent_link=True, auto_created=True, primary_key=True, serialize=False, to='registration.RegistrationProfile'))' line in the 0004_supe

[2017-05-31 14:08] #261 closed

[2017-06-07 15:15] joshblum opened #266 "Use Django 1.11 class-based views when possible"
The function based views are deprecated in Django 1.11 and fixes a security bug with potentially leaking the password reset token with the referrer header. https://docs.djangoproject.com/en/1.11/releases/1.11/#django-contrib-auth

[2017-06-27 03:29] mynumbercrunching opened #270 "TypeError context must be a dict rather than RequestContext."
I am getting an error.   "context must be a dict rather than RequestContext."

If I run 'registration.backends.simple.urls' it works fine.

thanks.

    TypeError at /accounts/register/
    context must be a dict rather than RequestContext.
    Request Method:	POST
    Request URL:	http://localhost:8000/auth/register/
    Django Version:	1.11
    Exception Type:	TypeError
    Exception Value:

[2017-06-27 13:50] joshblum commented on #266
closed by #268

[2017-06-27 13:50] #266 closed

[2017-06-27 13:51] joshblum commented on #270
@mynumbercrunching what backend are you using?  can you provide a full traceback to help us debug?

[2017-06-27 14:08] mynumbercrunching commented on #270
I was trying to use Django 1.11 when I got the error.

I dropped back to 1.10 and the error went away.

I hope this helps.  Cheers.

thomas wm. benson | student of humanity & citizen of the world  | diogenes@me.com  |  +1. 239 . 206 . 3240

	“Government is not a solution to our problem - government is the problem.” - Ronald Reagan

[2017-06-27 14:13] joshblum commented on #270
Yeah it's related to a change in django 1.11 https://docs.djangoproject.com/en/1.11/releases/1.11/#django-template-backends-django-template-render-prohibits-non-dict-context can you provide a full traceback so we can reproduce the issue and fix it?

[2017-06-27 14:15] mynumbercrunching commented on #270
I installed the app and am playing with allauth at the moment.

Do you want me to reinstall?

thomas wm. benson | student of humanity & citizen of the world  | diogenes@me.com  |  +1. 239 . 206 . 3240

	“Government is not a solution to our problem - government is the problem.” - Ronald Reagan

[2017-06-27 14:28] joshblum commented on #270
give allauth a try, in general we are trying to get new users to migrate since it offers a more comprehensive solution. if you are able reinstall and give some more debug info i'll try to submit a fix :)

[2017-06-27 14:48] mynumbercrunching commented on #270
One huge issue I have with Allauth is the app name.  Why “Account”?   I already have an account app.  Spent the last several hours trying to rename it so I could test AllAuth.

Why not use AllAuth name for the model?

I have to imagine Account(s) is a very in demand name?

I will try to reinstall and get you the information.

cheers.

thomas wm. benson | student of humanity & citizen of the world

[2017-07-20 12:38] davidfdezc opened #274 "Problem with "manage.py cleanupregistration" command in 3-step registration mode"
Hi,

We have developed an application that uses the three step registration workflow and that executes the cleanupregistration command daily as a cron job at midnight.

The problem we have detected is that whenever the user registers (step 1) and activates (step 2) his account before midnight, but the admin approval (step 3) is made after midnight, the approval fails, as the execution of "cleanupr

[2017-07-21 17:27] joshblum commented on #274
Hi @davidfdezc! Thanks for reporting the issue.

I think that the crux of the problem is that the 3 step process relies on the `activated` flag being set on the profile (which is then accidentally cleaned up by the cron job). Would you be able to submit a PR to address the issue? It seems if we don't set the flag during `_activate` https://github.com/macropin/django-registration/blob/ed49e122690e4

[2017-07-25 13:56] KomeijiSatori opened #275 "Add support for sending email with html content when password change"
It seems that for now when change the password, the  confirm email is sent with plain text rather than html. From the official document [here][1], the default method won't send html email. So can you override the origin method in the next release?
Thank you very much for your effort.

[1]: https://docs.djangoproject.com/en/1.11/topics/auth/default/#django.contrib.auth.views.PasswordResetView

[2017-07-25 15:14] joshblum commented on #275
@KomeijiSatori Would you be able to submit a PR to handle this?

[2017-07-25 15:50] KomeijiSatori commented on #275
@joshblum Do you mean I can extends the `PasswordResetView` and set the `html_email_template_name` field to the template name?
And what about Django <= 1.10? So should I create a new method to call the `password_reset` method with parameter `html_email_template_name` be set?

[2017-07-25 18:11] joshblum commented on #275
You can pass in a kwarg to the call to `as_view` for the `PasswordResetView` and for Django <= 1.10 you can pass in the template name as follows:

[code]

Although on second thought it might be best to leave the Django defaults in the library and to include the html template in your local installation (You can choose to not [include the default auth urls](https://github.com/macropin/django-registr

[2017-07-26 01:55] KomeijiSatori commented on #275
Cool, It seems to work. In that way developers can write their own urls or overwrite the default urls to meet their needs.
But it seems not friendly to new developers who don't know the trick, since refer to the official doc is kind of time consuming. It will be better to set a flag in settings whether password_reset_email should be html.
Thank you very much for helping me!

[2017-07-26 14:32] joshblum commented on #275
Instead of a settings flag, do you want to submit a PR that adds an example to the docs for future developers to use?

[2017-07-28 14:52] KomeijiSatori commented on #275
That's OK, but which file should I add examples to?

[2017-07-28 15:21] joshblum commented on #275
FAQ might be best
On Fri, Jul 28, 2017 at 10:52 Satori <notifications@github.com> wrote:

[2017-07-29 14:18] KomeijiSatori commented on #275
OK, but it seems I don't have permission to create a pull request

[2017-07-31 18:29] joshblum commented on #275
@KomeijiSatori this should help! https://help.github.com/articles/creating-a-pull-request-from-a-fork/ let me know if you run into any issues

[2017-08-01 15:08] joshblum commented on #275
closed by #276

[2017-08-01 15:08] #275 closed

[2017-08-02 08:32] sergafts commented on #274
Hello everyone,

I'm not sure if not setting the flag would work. I will take a look provide suggestions on how we could address the issue. Just a little busy atm.

I'll let you know once I have given a thorough look.

[2017-08-15 10:23] MJafarMashhadi opened #277 "Add outlook.com to the free email providers list"
The issue title explains just enough.
[Enhancement]

[2017-08-15 14:35] joshblum commented on #277
@MJafarMashhadi can you submit a PR with the fix?

[2017-08-16 18:44] MJafarMashhadi commented on #277
Sure, I will do it ASAP

On Aug 15, 2017 7:05 PM, "Joshua Blum" <notifications@github.com> wrote:

[2017-08-29 10:10] cucy opened #278 "string index out of range"
[code]

[2017-08-29 14:24] joshblum commented on #278
@cucy I think that your `settings.py` file is improperly written. Here is an example of what the `ADMINS` list must look like: https://github.com/macropin/django-registration/blob/master/test_app/settings_test.py#L54

Let me know if this fixes your issue!

[2017-09-01 21:55] Kifsif opened #282 "Bug: url "registration_resend_activation" raises an exception if a several users registered with one email"
**django-registration-redux==1.7**

I registered a new user. Then registered another user with the same email.
Registration went ok. And then registered a third user with the same email.
In the traceback you can see 3 that get() returned 3 in ExceptionValue.

Then I went to:
http://localhost:8000/accounts/activate/resend/

Well, it rose an exception. This seems to be a bug.

`Environment:

Request

[2017-09-05 21:37] joshblum commented on #282
@Kifsif thanks for reporting! There was a `TODO` left to catch this error that hasn't been implemented yet (https://github.com/macropin/django-registration/blob/master/registration/models.py#L190) @dicato what are your thoughts? We could return the first profile found (instead of a `.get`) but that might be odd behavior. @Kifsif open to your thoughts as well on how to fix the issue!

[2017-09-05 22:35] Kifsif commented on #282
Is it possible to forbid the registration of multiple accounts with one email? I think, this is the only possible way to reliably handle activation. If the strategic line is to forbid multiple use of one email, maybe it is better to return the first profile. Some users may feel some inconvenience. I think there will be few such users. Almost painless.

[2017-09-07 20:06] kovaacs commented on #208
@megavenik did you end up doing so? I'm in the same boat

[2017-09-08 03:39] megavenik commented on #208
@kovaacs hi! I end up writing my own view on register and log in users with login/password pairs:) Without this module. After all, it wasn't a big deal - just look into some articles like this https://simpleisbetterthancomplex.com/tutorial/2017/02/18/how-to-create-user-sign-up-view.html

[2017-09-08 10:19] kovaacs commented on #208
@megavenik I couldn't find a purely AJAX way. I feel that using forms is very lazy and adds code for no reason. I ended up rewriting this module's backend to support AJAX. When I have time I'll make it compatible with the current release it submit a PR.

[2017-09-08 20:51] joshblum commented on #282
You can already enforce email uniqueness using the [`RegistrationFormUniqueEmail`](http://django-registration-redux.readthedocs.io/en/latest/forms.html#registration.forms.RegistrationFormUniqueEmail). With this the bug should not occur since no users with the same email cannot register. We will need something more general if this the `RegistrationFormUniqueEmail` is not used

[2017-09-13 14:38] joshblum commented on #278
@cucy was this issue resolved with the change to `settings.py`?

[2017-09-13 14:38] joshblum commented on #277
@MJafarMashhadi any update?

[2017-09-13 14:39] joshblum commented on #274
@sergafts any update on how we can address the issue?

[2017-09-13 14:39] joshblum commented on #270
hey @mynumbercrunching any update?

[2017-09-13 14:40] joshblum commented on #252
@macropin can you update the tagline to close this issue?

[2017-09-13 15:10] fchevitarese commented on #252
I'm not sure how to do this. Can you help me?

Em 13/09/2017 11:40, "Joshua Blum" <notifications@github.com> escreveu:

@macropin <https://github.com/macropin> can you update the tagline to close
this issue?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/macropin/django-registration/issues/252#issuecomment-329189360>,
or mute th

[2017-09-13 18:15] joshblum commented on #252
@fchevitarese only @macropin can update the tagline as the repository owner. Thanks for reaching out though!

[2017-09-14 01:02] mynumbercrunching commented on #270
I am still in limbo with a Franken-beast sort of login system at the moment. Not sure which app I am going to finally go with?

 Might just write my own which I know wont be hard as good.

Just wish there was “simple" way for Redux to login with either the email or user name.

Played with several other apps.  I do like Redux the best.  I hope you don’t give up on it!

Mine is a secure site with ze

[2017-09-22 11:16] pgcd opened #286 "Password Reset Complete template raises an error with blocktrans"
SyntaxError: Translation blocks must not include other block tags: url 'login' (file src/django-registration-redux/registration/templates/registration/password_reset_complete.html, line 9)

Introduced by commit ebb3e75f998cafa40a9af95e4b01ebedd118e020

[2017-09-25 19:19] timgraham commented on #252
The tagline no longer includes the Django version so I think this can be closed.

[2017-09-28 21:16] brumiser1550 opened #288 "Password reset does not work when no password exists"
I am not sure if this is an issue with redux or the underlying Django code.

I have been bashing my head trying to get a password reset email to send with no luck and I was thinking that it was my email backend that was having issues but it was not.

I was trying to reset a password for a user that never had a password set because the user was created programmatically without one. I figured this o

[2017-10-01 07:08] joicemjoseph commented on #270
@joshblum Here is the full traceback

[code]

[2017-10-02 16:12] joshblum commented on #282
@Kifsif were you able to fix the probem with the `RegistrationFormUniqueEmail`? If so we can close this issue for now.

[2017-10-02 16:32] joshblum commented on #286
Closed by #289.  Thanks for reporting!

[2017-10-02 16:32] #286 closed

[2017-10-02 16:34] #252 closed

[2017-10-02 16:39] Kifsif commented on #282
@joshblum, well, RegistrationFormUniqueEmail is a good variant. If this solves the issue, well, let's close it. Though such exceptions will continue in future for other people.

[2017-10-02 16:43] #282 closed

[2017-10-02 17:08] #277 closed

[2017-10-02 17:59] joshblum commented on #288
hey @brumiser1550 really sorry that you ran into this! In the latest version of Django (1.11.5) before sending mail, there is a [check if each user has a usable password](https://github.com/django/django/blob/1.11.5/django/contrib/auth/forms.py#L256). Unfortunately I wasn't able to find any explicit documentation on this behavior. However, if you override the `get_users` function on the `PasswordR

[2017-10-02 17:59] #288 closed

[2017-10-02 18:28] brumiser1550 commented on #288
Thanks for the response. I am glad that I was not the only one having a hard time finding any docs on this! I think that is kind of a silly check considering the flow of wanting to not set/generate passwords and letting the user just use the password reset to "Finish account setup" or something. I went ahead and added a generate password anywhere I a user was being created programmatically to fix

[2017-10-02 18:31] joshblum commented on #270
@joicemjoseph thanks for the traceback. From the traceback it appears that you're using version 1.4 of django-registration which doesn't support Django version 1.11. If you upgrade the issue should resolve. Can you upgrade and confirm? If upgrading resolves your problem we can close this issue.

@mynumbercrunching what version of django-registration were you using?

[2017-10-02 18:32] joshblum commented on #288
Happy to help!

[2017-10-04 03:09] joicemjoseph commented on #270
Thank you, @joshblum

[2017-10-04 14:44] joshblum commented on #278
The format of the setting is dictated by Django https://docs.djangoproject.com/en/1.11/ref/settings/#admins. I agree it would fix it in this case but think it's better to have the setting properly set for consistency/expectations of other code. @cucy I'm going to close this for now, let me know if you run into anything else!

[2017-10-04 14:44] #278 closed

[2017-10-04 14:45] joshblum commented on #270
Going to close for now, @mynumbercrunching please reopen if upgrading does not resolve your issue!

[2017-10-04 14:45] #270 closed

[2017-10-04 14:56] joshblum commented on #96
closed by #262 & #293

[2017-10-04 14:56] #96 closed

[2017-10-04 14:59] joshblum commented on #81
@5xum you'll have to set `INCLUDE_AUTH_URLS=False` and change the call to `reverse_lazy` manually.

[2017-10-04 14:59] #81 closed

[2017-10-04 15:26] joshblum commented on #26
@sircco take a look at #294 and let me know if this address your use case!

[2017-10-04 18:15] sircco commented on #26
should work fine!

[2017-10-05 14:33] joshblum commented on #26
Awesome! I'll leave this open until @294 is merged in

[2017-10-05 14:54] joshblum commented on #89
@martey https://github.com/macropin/django-registration/pull/296 should handle the issues you've outlined. Closing this for now, let me know if you would like to add any clarifications!

[2017-10-05 14:54] #89 closed

[2017-10-05 15:39] #170 closed

[2017-10-05 15:39] #212 closed

[2017-10-05 15:39] #99 closed

[2017-10-05 15:51] #140 closed

[2017-10-05 15:51] joshblum commented on #210
I believe this is closed by #296

[2017-10-05 15:51] #210 closed

[2017-10-05 16:33] peterwu2006 opened #298 "activation email not work"
Hi buddies,

I have a problem when I installed a new fresh version 1.8. The activation email to user after registration could NOT be sendoff, meanwhile after login admin view I could send email manually with 'resend activation email' button. anyone could help me? many thanks. When I switch to 'admin_approval' mode, the email to admin right after user registration could NOT be found as well.

[2017-10-05 16:51] peterwu2006 commented on #298
attached my configuration here,

in url.py
`    url(r'^accounts/',
        include('registration.backends.admin_approval.urls')),`

in settings.py (email settings are NOT presented, but I am sure that's correct, because I could sent out email via other apps)

[2017-10-05 17:11] joshblum commented on #298
@peterwu2006 for completeness can you provide the email settings? Did the admin approval interface work on an earlier version of django-registration?

[2017-10-05 17:37] peterwu2006 commented on #298
@joshblum
I found the clue, my setting below is not correct. Thanks for your reminder.
SEND_ACTIVATION_EMAIL = False

when I change it to True, everything is OK now.

[2017-10-05 17:45] peterwu2006 commented on #298
@joshblum
Sorry my bother you again,

I found when I switch back to admin_approval mode,

the email activation email will still send to the user, but no email sending to admin for the approval.

[2017-10-05 17:53] joshblum commented on #298
@peterwu2006 no problem! can you take a look at https://github.com/macropin/django-registration/blob/e9b314d4c11c22b89e010934cc31c14a3fb0276f/registration/models.py#L453 and try debugging the code path to check if the email is sent? Is it possible you tried approving a user that already had the `is_active` flag set to `True` so no mail was sent?

[2017-10-05 18:30] peterwu2006 commented on #298
@joshblum

I tried to debug, it seems the entire process have no chance to pass through the row 453 you mentioned above.

`        try:
            import pdb; pdb.set_trace()
            profile = SupervisedRegistrationProfile.objects.get(id=profile_id)
            if profile.activated:
                if profile.user.is_active:
                    return profile.user`

but the process truly went

[2017-10-05 18:39] joshblum commented on #298
@peterwu2006 can you debug which part of the code breaks down? Once you click the admin email, it seems that the rough code path is:

https://github.com/macropin/django-registration/blob/e9b314d4c11c22b89e010934cc31c14a3fb0276f/registration/views.py#L157

to

https://github.com/macropin/django-registration/blob/e9b314d4c11c22b89e010934cc31c14a3fb0276f/registration/backends/admin_approval/views.py#

[2017-10-05 19:06] peterwu2006 commented on #298
@joshblum

Traced with debug, but it seems all debug points are not be passed through. I found the result is once I register new user , the first stop is

row 12 in django-registration/registration/backends/admin_approval/views.py
with  `'class RegistrationView(BaseRegistrationView): '`
`

[2017-10-05 19:22] joshblum commented on #298
I'm pretty sure that the debugger will stop at that line during the class instantiation, but it won't actually help us debug. Do you have any other info like the request logs that can help the debug process?

[2017-10-05 20:04] peterwu2006 commented on #298
@joshblum
Besides setup url.py as below, any other config need to be figure out?
`url(r'^accounts/', include('registration.backends.admin_approval.urls')), `

it seems the register process could NOT go into any function in Supervisedxxxxx class view or profile, many thanks.

[2017-10-06 09:46] ioparaskev commented on #298
@peterwu2006
Have you properly set the `ADMINS` setting on your settings.py ?
Can you add a debugger at the `send_admin_approve_email`  in the following line to see if it passes and with what values?
https://github.com/macropin/django-registration/blob/e9b314d4c11c22b89e010934cc31c14a3fb0276f/registration/models.py#L548

[2017-10-07 01:10] peterwu2006 commented on #298
**@ioparaskev**
 I'd like to close this case as I find a alternative way. Thanks a lot.

[2017-10-07 01:10] #298 closed

[2017-10-09 09:50] surfer190 opened #299 "Testing activation email fails"
I am testing that the activation email sends with:

[code]

My user `register` function:

[code]

The test fails with:

[code]

[2017-10-09 14:48] surfer190 commented on #299
I was stupid, set the wrong url/form.

[2017-10-09 14:48] #299 closed

[2017-10-17 08:22] jorrete opened #303 "Missing registration_complete translation."
Hi,
The registration_complete translation string is missing in po file.
Thanks!

[2017-10-18 23:41] joshblum commented on #26
closed by #294

[2017-10-18 23:41] #26 closed

[2017-10-19 00:02] joshblum commented on #303
@jorrete closing this for now since all relevant strings should appear in the `.po` files, we just need the valid translations added :)

[2017-10-19 00:02] #303 closed

[2017-10-19 20:52] erikcw opened #306 "Duplicate url pattern name"
The name `auth_password_reset_done` is listed for two different url patterns in [auth_urls.py](https://github.com/macropin/django-registration/blob/master/registration/auth_urls.py#L49)

It is being used for both `r'^password/reset/$'` and `r'^password/reset/done/$'`.  The former should be changed to just `auth_password_reset`

[2017-10-19 21:05] joshblum commented on #306
@erikcw the naming is correct as far as I can see, the `password/reset/` view has a `success_url` parameter which points to `auth_password_reset_done`. Closing this for now, let me know if you run into any issues.

[2017-10-19 21:05] #306 closed

[2017-10-19 21:24] erikcw commented on #306
You're right, my mistake.  Eyes are playing tricks on me...

[2017-11-01 03:02] #183 closed

[2017-11-01 03:03] #240 closed

[2017-11-01 03:18] #233 closed

[2017-11-11 23:27] jwarren116 opened #312 "NoReverseMatch for included auth_urls routes"
Running django-registration 1.8 and Sjango 1.11.3.

I've included the URLs found in registration/auth_urls.py. For all of the routes I'm running into Django's `NoReverseMatch` exception. It _seems_ this is due to the `name` for each url route being prepended with `auth_`. For example, with the login route, the templates use `{% url 'login' %}`, however the url route in `auth_urls.py` is `name=auth

[2017-11-11 23:44] jwarren116 commented on #312
Disregard. Turns out it is because I had `django.contrib.admin` above `registration` in `INSTALLED_APPS`, which breaks the login and password reset routes.

Would you like me to open a PR to add a note to the docs to ensure `registration` is above both `django.contrib.auth` and `django.contrib.admin`?

[2017-11-13 14:15] joshblum commented on #312
@jwarren116 Sorry you ran into this issue! The fix you mentioned was just completed in https://github.com/macropin/django-registration/commit/97f9501d79aefe18285d85ca5354c77894bbf1d7, I'm just waiting for review on #310 before releasing the next version on pypi/updating the docs. I'm going to close this for now but if you think that any further clarification could be added, a PR would be greatly a

[2017-11-13 14:15] #312 closed

[2017-11-17 02:24] #274 closed

[2017-12-28 20:49] surfer190 commented on #119
You will run into this issue if you have given to namespace to the apps `urls.py` and within that you are including `'registration.backends.default.urls'`

So your app finds `users:registration_activate` but not just `registration_activate`

[2018-01-11 14:07] charliedontsurf commented on #182
Newbie here, but something I'd find useful is how to add your own custom fields to the registration page. Let's say things like age or favourite band. Perhaps this is quite obvious for seasoned developers but for me it's going to take a bit of work subclassing forms or overriding URLs. Thanks.

[2018-01-13 19:29] zhuyuecai opened #316 "reverse_lazy() should take a view function name as input instead of a string"
since in urls.py, all reverse_lazy() for the success url are passed by a string(the url name), it raise no page found when for example I reset my password before log in. it should redirect to a the url
^accounts/ ^password/reset/done/$ [name='auth_password_reset_done']
however, the url actually redirecting is :
/accounts/password/change/auth_password_change_done

should change reverse_lazy() to re

[2018-01-14 07:16] fumeno opened #317 "using AbstractBaseUser"
Hello All,

Now I'm trying to use django-registration with customize user.( AbstractBaseUser)
I changed USERNAME_FIELD. (username -> email)

Then I got a error on registration/models.py which said that user doesn't have username.
I checked models.py.  The following code use 'username', but I think it's better to use "get_username()'. Would you please consider this ?

------------Original----------

[2018-01-15 14:11] joshblum commented on #182
@charliedontsurf we have a small snippet about [multiple form inheritance](https://django-registration-redux.readthedocs.io/en/latest/forms.html#multiple-form-inheritance) does that help?

[2018-01-15 15:22] joshblum commented on #317
@fumeno sorry about the issue! I think https://github.com/macropin/django-registration/pull/318 addresses your problem, take a look and let me know!

[2018-01-15 15:33] joshblum commented on #316
@zhuyuecai I'm not sure I follow. Right now resetting your password has a [success url](https://github.com/macropin/django-registration/blob/master/registration/auth_urls.py#L47) of `auth_password_reset_done` and changing your password has a [success url](https://github.com/macropin/django-registration/blob/master/registration/auth_urls.py#L40) of `auth_password_change_done`.

[2018-01-15 17:17] zhuyuecai commented on #316
Sorry, I make a mistake, I bug is in another django-registration, not this one, I will close the issue, I didn't know there is two django-registration .

[2018-01-15 17:17] #316 closed

[2018-01-15 17:40] joshblum commented on #316
No problem!
On Mon, Jan 15, 2018 at 12:17 Victor <notifications@github.com> wrote:

[2018-01-17 10:50] fumeno commented on #317
@joshblum yes. that I would like to.

[2018-01-18 01:19] joshblum commented on #317
Great! Closed by #318

[2018-01-18 01:19] #317 closed

[2018-02-27 08:59] dE1l commented on #140
I'm clone this repository now,
run this test_app,
go to reset password and this issue with "Reverse for 'password_reset_confirm'" was reproduced for me.

Then i changed settings.py to:
 INSTALLED_APPS = (
    'django.contrib.auth',
    'django.contrib.sites',
    'django.contrib.sessions',
    'django.contrib.contenttypes',
    'registration',
    'django.contrib.admin',
    'test_app',
)

And it

[2018-03-21 14:38] msfernandes opened #327 "IndexError: string index out of range when try to send email"
Hi!
I'm using `django==2.0.3` and `django-registration-redux==2.2` but I'm having some troubles when I try to create an inactive user with activation email. Here's the code:

[code]

And here's the traceback:

[code]

I tried to send an email using only the django backend and works fine
[code]

Do you have any idea of what can be?

[2018-04-11 02:12] joshblum commented on #327
Hey! Sorry for the delay? Is this still an issue for you? I think that [the bug](https://code.djangoproject.com/ticket/27469) is updated in [django 2.0.4](https://github.com/django/django/commit/8858631498bca33feb2acde71f9cf6ca2884b1bd)

So if you're able to update (was just released on April 2nd) that should help with the error messaging. But I think that the issue was sending to an empty recipie

[2018-07-20 01:31] zkan opened #336 "TypeError: __init__() missing 1 required positional argument: 'on_delete' with Django 2"
Hi there, I'm using `Django==2.0.7` and got the error below:

[code]

I'm guessing that [on_delete](https://docs.djangoproject.com/en/2.0/ref/models/fields/#django.db.models.OneToOneField) is required in Django 2+. The [doc](http://django-registration-redux.readthedocs.io/en/latest/release-notes.html) says it works with Django 2.0. Is there a way or a workaround to fix this?

Any suggestion is ver

[2018-07-20 13:43] joshblum commented on #336
hey @zkan i think you're on an older version of the library. in the latest library release `2.4` we have the field set: https://github.com/macropin/django-registration/blob/v2.4/registration/models.py#L303 can you confirm what version of the library you're running?

[2018-10-15 14:51] Xyene opened #340 "`cleanupregistration` deletes manually-activated users"
We recently ran `cleanupregistration` on a production instance for the first time in several years, and were unpleasantly surprised when the command dropped several thousand users which had been manually activated (or programatically created).

The check on https://github.com/macropin/django-registration/blob/master/registration/models.py#L274 doesn't check whether the user's `is_active` field is

[2018-10-16 12:42] wdoekes commented on #340
Heh. I did the same, about 21 hours go. Hilarious coincidence. I only dropped 5 users or so though.

I wholeheartedly agree that the command looks "safe" to run, but apparently wasn't.

[2018-10-26 15:24] GasparPizarro opened #341 "Admins from database instead of settings"
It would be nice that the registration admins list could be pulled from the user model database instead of from the `settings py`. The use case for this is that the admin of an app (who would be different from the developer of the app) could add users for the registration approval without touching source code or having to enter the host machine. My proposal is that the registration admins would be

[2018-10-26 23:47] joshblum commented on #340
@Xyene @wdoekes really sorry about the data loss. It seems like we dropped in the `user.is_active` check in an oversight in https://github.com/macropin/django-registration/issues/233 and https://github.com/macropin/django-registration/pull/308. Originally we dropped the check in favor having an inactive registration profile, however from your report i think it's clear we should check all three val

[2018-10-27 15:17] joshblum commented on #340
released versions `2.5` and `1.11` to pypi, going to close this for now!

https://pypi.org/project/django-registration-redux/1.11/
https://pypi.org/project/django-registration-redux/2.5

[2018-10-27 15:17] #340 closed

[2018-10-28 00:35] GasparPizarro commented on #341
Yes I am, give me some time to develop it and make a pull request.

[2018-10-29 09:11] wdoekes commented on #340
Thanks for the quick fix :)

[2018-10-29 14:14] joshblum commented on #341
thanks!

[2018-10-29 14:14] #341 closed

[2018-11-01 15:09] jonas87 opened #348 "missing user context variable in admin_approve_complete_email template"
The admin_approve_complete_email context is missing the user variable.
In for example the activation_email template, the user variable is available. It makes sense to have the user also available in admin_approve_complete_email since both of these templates are for emails that are send to the new user.

[2018-11-12 18:43] joshblum commented on #348
hey @jonas87  the `admin_approve_complete_email` context (https://github.com/macropin/django-registration/blob/master/registration/models.py#L693) and the `activation_email` context (https://github.com/macropin/django-registration/blob/master/registration/models.py#L419) have a `user` variable present, this just wasn't documented properly. Added docs in: https://github.com/macropin/django-registra

[2018-11-12 18:48] #348 closed

[2018-11-12 19:58] jonas87 commented on #348
Thanks for the links, I see the problem now. In virtually all templates the user context variable gives access to the full user object (self.user). In admin_approve_complete_email however the user variable refers to self.user.get_username(). That's a bit inconsistent?

[2018-11-12 21:28] joshblum commented on #348
Ah you’re right, I’ll drop make the full user available, sorry I missed that when I was looking earlier

[2018-11-12 22:01] joshblum commented on #348
https://github.com/macropin/django-registration/pull/350

[2019-01-29 04:15] zkan commented on #336
@joshblum Oh, I was using the older version. It's working now. Thank you!

[2019-01-29 04:15] #336 closed

[2019-02-24 17:54] imanaspaul opened #356 "TypeError:"
File "C:\Users\MANASH\AppData\Local\Programs\Python\Python36\lib\site-packages\registration\models.py", line 189, in RegistrationProfile
    user = models.OneToOneField(UserModelString(), verbose_name=_('user'))
TypeError: __init__() missing 1 required positional argument: 'on_delete'

[2019-02-25 04:19] joshblum commented on #356
@imanaspaul what version of the library are you running? is this a duplicate of https://github.com/macropin/django-registration/issues/336 ?

[2019-02-27 18:12] rossifumi46 opened #357 "Overriding templates not working"
in settings 'APP_DIRS': True, but templates in myapp/templates/registration folder not overriding deafults.

[2019-03-02 13:26] joshblum commented on #357
@rossifumi46 this is likely an issue with your directory structure/other django settings, can you provide any more debug info? does your setup match the examples here https://docs.djangoproject.com/en/2.1/howto/overriding-templates/?

[2019-03-06 10:37] abaart opened #358 "When resending activation e-mail, original language not used"
This is probably because it can not be inferred from the `request`. Maybe language preference should be stored in the Registration Profile?

[2019-04-10 19:45] marcaurele opened #359 "New release ?"
Hi, would it be possible to make a new release with the current changes and the source package creation ?

[2019-04-11 01:12] joshblum commented on #359
@marcaurele no problem, will release shortly https://github.com/macropin/django-registration/pull/360

[2019-04-11 01:19] joshblum commented on #358
@abaart sounds reasonable. Would you like to open a PR?

[2019-04-11 01:40] joshblum commented on #359
released! https://pypi.org/project/django-registration-redux/2.6/

[2019-04-11 01:40] #359 closed

[2019-06-05 19:20] gone opened #365 "When using Jinja, request user is preferred over ctx_dict's user"
I'm seeing emails rendered with the request.user, which is still anonymous over the ctx_dict['user'] which is the new user. It looks to me like the request attributes are shadowing the context dictionary when they have a name collision?

[2019-06-24 16:29] easternsun opened #366 "In send_activation_email() if email_message.send() fails it creates user anyway"
In the RegistrationProfile model, in the send_activation_email() method if an email fails to send for some reason (e.g. 400 bad request), the user is created anyway beforehand. Perhaps a try/except to delete the already created user and return an error message for the form if this happens?

[2019-07-10 03:38] joshblum commented on #365
what version of the library and django are you using? Could you provide an example template where this happens?

[2019-07-10 03:43] joshblum commented on #366
@easternsun what version of the library are you using? I think this is fixed in version 2.6 via https://github.com/macropin/django-registration/pull/355

[2019-08-10 15:45] easternsun commented on #366
Apologies for the late reply. You are indeed correct, I was using version 2.5. Thanks.

[2019-08-10 15:45] #366 closed

[2019-12-02 23:05] clarkmoody opened #371 "Django 3.0 Support"
Django 3.0 [removes](https://docs.djangoproject.com/en/3.0/releases/3.0/#removed-private-python-2-compatibility-apis) `django.utils.encoding.python_2_unicode_compatible()`, which is used as a [decorator](https://github.com/macropin/django-registration/blob/master/registration/models.py#L295-L296) on the RegistrationProfile model.

Removing this decorator is required for Django 3.0 support.

[2019-12-03 01:26] macropin commented on #371
Removing this would require dispensing with python 2.x support. Perhaps a PR with a conditional import and decorator would allow us to maintain backwards compatibility?

[2019-12-03 01:28] macropin commented on #327
Closing for now. Please feel free to reopen with more information.

[2019-12-03 01:28] #327 closed

[2019-12-03 01:28] macropin commented on #356
Closing for now. Please feel free to reopen with more information.